<template>
  <div id="sketch_carousel">
    <div
      v-for="(sketch, index) in sketchImages"
      :key="index"
      class="relative non-absolute"
    >
      <img :src="sketch.image" class="sketch" />
      <img :src="sketch.colors" class="colors" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'SketchCarousel',
  data: () => ({
    sketchImages: [
      {
        image: require('@/assets/images/drco/sketch1.png'),
        colors: require('@/assets/images/drco/colors1.png')
      },
      {
        image: require('@/assets/images/drco/sketch2.png'),
        colors: require('@/assets/images/drco/colors2.png')
      },
      {
        image: require('@/assets/images/drco/sketch3.png'),
        colors: require('@/assets/images/drco/colors3.png')
      },
      {
        image: require('@/assets/images/drco/sketch4.png'),
        colors: require('@/assets/images/drco/colors4.png')
      },
      {
        image: require('@/assets/images/drco/sketch5.png'),
        colors: require('@/assets/images/drco/colors5.png')
      },
      {
        image: require('@/assets/images/drco/sketch6.png'),
        colors: require('@/assets/images/drco/colors6.png')
      }
    ]
  }),
  mounted() {
    setTimeout(() => {
      $('#sketch_carousel').slick({
        slidesToShow: 3,
        centerMode: true,
        centerPadding: '50px',
        infiniteLoop: true,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      })
    }, 1250)
  }
}
</script>

<style lang="scss">
@mixin slick-arrow {
  z-index: 1;
  width: 5.75vw;
  height: 10vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: 992px) {
    width: 25px;
    height: 44px;
  }

  &:before {
    content: '';
  }
}

#sketch_carousel {
  @media screen and (min-width: 992px) {
    padding-top: 5vw;
  }

  *:focus {
    outline: 0;
  }

  & > div {
    @media screen and (max-width: 991px) {
      padding: 15vw 10vw 0;
    }
  }

  .slick-slide {
    .sketch {
      width: 100%;
    }
    .colors {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 70%;
      transform: translate(-50%, 18%);
      mix-blend-mode: multiply;
    }

    @media screen and (min-width: 992px) {
      transition: all 500ms;
      transform: scale(0.75);

      .colors {
        filter: grayscale(100%);
        transition: all 0.5s;
        transform: translate(-50%, 18%);
      }

      &:hover .colors {
        filter: grayscale(0);
      }
    }

    &.slick-current {
      transform: scale(1);
    }
  }

  .slick-prev {
    left: 0;
    transform: translate(100%, 0);
    background-image: url('../../assets/images/drco/arrow_red_left.png');
    @include slick-arrow;
  }
  .slick-next {
    right: 0;
    transform: translate(-100%, 0);
    background-image: url('../../assets/images/drco/arrow_red.png');
    @include slick-arrow;
  }
}
</style>
