<template>
  <div :class="['glitch', animate]">
    <div class="eye" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'AppGlitch',
  data: () => ({
    animate: ''
  }),
  computed: mapState(['playGlitch', 'glitchDuration']),
  watch: {
    playGlitch(newValue, oldValue) {
      if (newValue) {
        this.playAnimation()
      }
    }
  },
  methods: {
    playAnimation() {
      this.playFrame1()
    },
    playFrame1() {
      this.animate = 'kf1'
      setTimeout(() => this.playFrame2(), this.glitchDuration * 0.075)
    },
    playFrame2() {
      this.animate = 'kf2'
      setTimeout(() => this.playFrame3(), this.glitchDuration * 0.075)
    },
    playFrame3() {
      this.animate = 'kf3'
      setTimeout(() => this.playFrame4(), this.glitchDuration * 0.075)
    },
    playFrame4() {
      this.animate = 'kf4'
      setTimeout(() => this.playFrame5(), this.glitchDuration * 0.075)
    },
    playFrame5() {
      this.animate = 'kf5'
      setTimeout(() => this.playFrame6(), this.glitchDuration * 0.075)
    },
    playFrame6() {
      this.animate = 'kf6'
      setTimeout(() => this.playFrame7(), this.glitchDuration * 0.125)
    },
    playFrame7() {
      this.animate = 'kf6 kf-fade'
      setTimeout(() => this.stopAnimation(), this.glitchDuration * 0.5)
    },
    stopAnimation() {
      this.animate = ''
      this.$store.commit('PLAY_GLITCH', false)
    }
  }
}
</script>

<style lang="scss">
.glitch {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s;
  background-repeat: no-repeat;

  &.kf1 {
    z-index: 1010;
    background-position: center;
    background-size: auto 130vh;
  }

  &.kf2 {
    z-index: 1010;
    background-position: 25vw center;
    background-size: auto 120vh;
  }

  &.kf3 {
    z-index: 1010;
    background-position: -15vw 10vh;
    background-size: auto 100vh;
  }

  &.kf4 {
    z-index: 1010;
    background-position: 40% -20vh;
    background-size: auto 140vh;
  }

  &.kf5 {
    z-index: 1010;
    background-position: center;
    background-size: auto 100vh;
  }

  &.kf6 {
    z-index: 1010;
    background-position: 64vw 60vh;
    background-size: auto 21vh;
    opacity: 1;
  }

  &.kf-fade {
    z-index: 1010;
    background-position: 64vw 60vh;
    background-size: auto 21vh;
    opacity: 0;
  }

  #layout.process & {
    &.kf1 {
      background-image: url('~assets/images/layout/glitch_1_process.png');
    }
    &.kf2 {
      background-image: url('~assets/images/layout/glitch_2_process.png');
    }
    &.kf3 {
      background-image: url('~assets/images/layout/glitch_3_process.png');
    }
    &.kf4 {
      background-image: url('~assets/images/layout/glitch_4_process.png');
    }
    &.kf5 {
      background-image: url('~assets/images/layout/glitch_5_process.png');
    }
    &.kf6 {
      background-image: url('~assets/images/layout/glitch_6_process.png');
    }
  }
  #layout.results & {
    &.kf1 {
      background-image: url('~assets/images/layout/glitch_1_results.png');
    }
    &.kf2 {
      background-image: url('~assets/images/layout/glitch_2_results.png');
    }
    &.kf3 {
      background-image: url('~assets/images/layout/glitch_3_results.png');
    }
    &.kf4 {
      background-image: url('~assets/images/layout/glitch_4_results.png');
    }
    &.kf5 {
      background-image: url('~assets/images/layout/glitch_5_results.png');
    }
    &.kf6 {
      background-image: url('~assets/images/layout/glitch_6_results.png');
    }
  }
}
</style>
