<template>
  <div>
    <div id="app-layout" :style="{ background: $store.getters.activeColor }">
      <div id="layout">
        <div
          v-show="displayMusic"
          :class="['icon-wrapper', 'bottom-right', iconShadowClass]"
        >
          <img :src="musicIconSrc" @click="toggleMusic()" />
        </div>
        <div
          :class="['icon-wrapper', 'top-left', iconShadowClass]"
          :style="{ opacity: $store.getters.layoutOpacity && logoOpacity }"
        >
          <nuxt-link id="home-link" to="/Home">
            <img v-show="displayLogo" :src="logoSrc" />
          </nuxt-link>
        </div>
        <app-menu id="menu" :icon-shadow-class="iconShadowClass" />
        <app-glitch id="glitch" />
      </div>
      <slot style="height: 100%"></slot>
    </div>
    <fixed-logo />
  </div>
</template>

<script>
import { Howl } from 'howler'
import AppMenu from './AppMenu'
import AppGlitch from './AppGlitch'
import FixedLogo from './FixedLogo'
import LogoProcessBlack from '@/assets/images/layout/logo_black.svg'
import LogoProcessWhite from '@/assets/images/layout/logo_white.svg'
import LogoResults from '@/assets/images/layout/logo_yellow.svg'
import MusicBlack from '@/assets/images/layout/music-icon-black.png'
import MusicWhite from '@/assets/images/layout/music-icon-white.png'
import MusicYellow from '@/assets/images/layout/music-icon-yellow.png'
import BackgroundMusic from '@/assets/epic-choir.mp3'

export default {
  name: 'AppLayout',
  components: { AppMenu, AppGlitch, FixedLogo },
  data() {
    return {
      displayLogo: this.$route.path !== '/Home',
      audio: undefined
    }
  },
  computed: {
    displayMusic: function() {
      return this.$route.path !== '/'
    },
    logoOpacity: function() {
      return this.$route.path === '/Home' ? 0 : 1
    },
    checked: function() {
      return this.$store.state.isToggled
    },
    isDark: function() {
      return this.$store.state.isDark
    },
    logoSrc: function() {
      // prettier-ignore
      return this.$store.state.isDark
        ? LogoResults
        : this.$route.name === 'about' || this.$route.name === 'contact'
          ? LogoProcessWhite
          : LogoProcessBlack
    },
    musicIconSrc: function() {
      // prettier-ignore
      return this.$store.state.isDark
        ? MusicYellow
        : this.$route.name === 'about'
          ? MusicWhite
          : MusicBlack
    },
    iconShadowClass: function() {
      // prettier-ignore
      return this.$store.state.isDark
        ? 'shadow-black'
        : this.$route.name === 'about' || this.$route.name === 'contact'
          ? 'shadow-black'
          : 'shadow-white'
    }
  },
  watch: {
    isDark: function(e) {
      this.setTheme()
    },
    logoOpacity: function(e) {
      if (e === 1) this.displayLogo = true
      else setTimeout(() => (this.displayLogo = false), 500)
    }
  },
  mounted() {
    this.audio = new Howl({
      src: [BackgroundMusic],
      loop: true,
      volume: 0.75,
      onplayerror: function() {
        this.audio.once('unlock', function() {
          this.audio.play()
        })
      }
    })
    this.audio.play()

    const menuToggle = document.getElementById('menu-toggle')
    document.getElementById('home-link').onclick = () => {
      if (this.$route.path === '/Home' && this.$store.state.isMenuVisible) {
        menuToggle.click()
      }
    }

    setTimeout(() => this.setTheme(), 100)
  },
  methods: {
    setTheme: function() {
      const layout = document.querySelector('#layout')
      const classToAdd = this.$store.state.isDark ? 'results' : 'process'
      const classToRemove = !this.$store.state.isDark ? 'results' : 'process'
      layout.classList.remove(classToRemove)
      layout.classList.add(classToAdd)
    },
    toggleMusic: function() {
      const volume = this.audio.volume()
      const step = volume !== 0.0 ? 0.0 : 0.75
      this.audio.fade(volume, step, 500)
    }
  }
}
</script>

<style lang="scss">
#app-layout {
  min-height: 100%;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.3s;

  & > div {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }

  #layout {
    position: absolute;
  }

  .icon-wrapper,
  .third-action {
    width: 30px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    transition: 0.5s ease-in-out;
  }

  .icon-wrapper img,
  .third-action img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .icon-wrapper {
    &.top-left {
      left: 8.25%;
      top: 8.25%;
      z-index: 998;
    }

    &.top-right {
      right: 8.25%;
      top: 8.25%;
    }

    &.bottom-left {
      left: 8.25%;
      bottom: 8.25%;
      z-index: 998;
    }

    &.bottom-right {
      width: 25px;
      right: 8.25%;
      bottom: 8.25%;
      z-index: 998;
    }

    &.shadow-black {
      filter: drop-shadow(0 0 1px #0f0f0f);
    }

    &.shadow-white {
      filter: drop-shadow(0 0 1px #f5f5f5);
    }
  }
}
</style>
