<template>
  <div class="menu-wrapper">
    <label>
      <input
        type="checkbox"
        :checked="$store.state.isMenuVisible"
        @input="toggleMenu"
      />
      <span
        :class="['icon-wrapper', 'top-right', 'toggle', iconShadowClass]"
        :style="{ opacity: $store.getters.layoutOpacity }"
      >
        <span class="hamburger" />
      </span>
    </label>
    <div
      :class="['menu', menuActive]"
      :style="{ backgroundColor: $store.getters.activeColor }"
    >
      <ul :style="{ color: liColor }">
        <li>
          <nuxt-link
            id="about_link"
            to="/About"
            event=""
            @click.native="playGlitch('about')"
          >
            &nbsp;
          </nuxt-link>
        </li>
        <li>
          <nuxt-link
            id="work_link"
            to="/Work"
            event=""
            @click.native="playGlitch('work')"
          >
            &nbsp;
          </nuxt-link>
        </li>
        <li>
          <nuxt-link
            id="contact_link"
            to="/Contact"
            event=""
            @click.native="playGlitch('contact')"
          >
            &nbsp;
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { setTimeout } from 'timers'
import * as Mutations from '@/store/mutation_types'
export default {
  name: 'AppMenu',
  props: {
    iconShadowClass: {
      type: String,
      required: true
    }
  },
  data: () => ({
    hamburger: undefined
  }),
  computed: {
    liColor: function() {
      return this.$store.state.priority === 'results' ? 'white' : '#2D3A2B'
    },
    menuActive: function() {
      return this.$store.state.isMenuVisible ? 'active' : ''
    }
  },
  watch: {
    $route(to, from) {
      this.toggleHamburgerClass(to)
    }
  },
  mounted() {
    this.hamburger = document.querySelector('#menu label .hamburger')
    const menu = document.querySelector('.menu')
    const menuItems = document.querySelector('.menu > ul')
    this.toggleHamburgerClass(this.$route)
    menu.addEventListener('mousemove', (e) => {
      if (!this.$store.state.isVertical) {
        let y = e.pageY / window.innerHeight
        y = y * -60
        menuItems.style.transform = 'translateY(' + y + '%)'
      }
    })
  },
  methods: {
    toggleMenu(e) {
      this.$store.commit(Mutations.TOGGLE_CHECK)
      const value = !this.$store.state.isMenuVisible
      this.$store.commit(Mutations.SET_MENU_VISIBLE, value)
    },
    toggleHamburgerClass(to) {
      if (!this.hamburger) return
      if (to.name === 'about' && this.$store.state.priority === 'process') {
        this.hamburger.classList.add('white')
      } else {
        this.hamburger.classList.remove('white')
      }
    },
    playGlitch(to) {
      const callback = () => this.$router.push({ path: to })
      const timeout = this.$store.state.glitchDuration
      if (this.$store.state.isVertical) {
        callback()
      } else if (this.$route.fullPath !== `/${to}`) {
        this.$store.commit('PLAY_GLITCH', true)
        setTimeout(callback, timeout)
      } else {
        this.toggleMenu(false)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.menu-wrapper {
  height: 0;

  .menu {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-out, z-index 1s ease-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media screen and (min-width: 992px) {
      .process & {
        background-image: url('../assets/images/layout/fibonacci_process.png');
      }
      .results & {
        background-image: url('../assets/images/layout/fibonacci_results.png');
      }
    }

    &.active {
      z-index: 999;
      opacity: 1;
      transition: opacity 1s ease-out;
    }

    & > ul {
      list-style-type: none;
      overflow: hidden;
      transition: ease-in-out;
      padding: 0;

      @media screen and (max-width: 991px) {
        padding: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }

      & > li {
        margin: 110px 0;
        font-size: 17vw;

        @media screen and (max-width: 991px) {
          margin: 0;
          display: block;
          width: 90%;
          text-align: center;
        }

        a {
          display: inline-block;
          width: 61.8%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: left center;

          .process &#about_link {
            background-image: url('../assets/images/layout/about_process.png');
          }
          .process &#work_link {
            background-image: url('../assets/images/layout/work_process.png');
          }
          .process &#contact_link {
            background-image: url('../assets/images/layout/contact_process.png');
          }

          .results &#about_link {
            background-image: url('../assets/images/layout/about_results.png');
          }
          .results &#work_link {
            background-image: url('../assets/images/layout/work_results.png');
          }
          .results &#contact_link {
            background-image: url('../assets/images/layout/contact_results.png');
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  label {
    cursor: pointer;

    .hamburger {
      position: absolute;
      right: 25%;
      top: 50%;
      width: 25px;
      height: 2px;
      transform-origin: center;
      transition: 0.5s ease-in-out;

      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }

      &:before,
      &:after {
        content: '';
        transition: 0.5s ease-in-out;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
      }

      #layout.process &,
      #layout.process &::before,
      #layout.process &::after {
        background-color: #232323;
      }

      #layout.process &.white,
      #layout.process &.white:before,
      #layout.process &.white:after {
        background-color: white;
      }

      #layout.results &,
      #layout.results &:before,
      #layout.results &:after {
        background-color: #f8b20c;
      }
    }

    input {
      display: none;

      &:checked + .toggle .hamburger {
        transform: rotate(45deg);

        &:before {
          transform: rotate(90deg);
          top: 0;
        }
        &:after {
          transform: rotate(90deg);
          bottom: 0;
        }
      }
    }
  }
}
</style>
