<template>
  <div style="background-color: #F5F5F5">
    <div class="section one" :style="{ height: headerHeight }">
      <img
        v-show="$route.query.project === 'drco' && $store.state.isVertical"
        src="@/assets/images/drco/decor_points_intro.png"
        style="right: 1vw; top: 25vw; width: 35vw"
      />
      <img
        v-show="$route.query.project === 'drco' && $store.state.isVertical"
        src="@/assets/images/drco/branding_apparel.png"
        style="left: 50%; bottom: 11.25vw; width: 40%; transform: translate(-50%,-50%)"
      />
    </div>

    <!-- PORTRAIT -->

    <div
      v-if="$store.state.isVertical && $route.query.project === 'drco'"
      class="orderable"
    >
      <div class="process" :style="{ order: processOrder }">
        <div class="section two">
          <img
            src="@/assets/images/drco/2019.png"
            style="top: 10%; left: 2.5vw; width: 5vw"
          />
          <img
            src="@/assets/images/drco/palms_mapdegrad.png"
            style="right: 0; width: 91.5vw"
          />
          <img
            src="@/assets/images/drco/78.png"
            style="right: 6.66vw; top: 52.5vw; width: 73vw"
          />
          <img
            src="@/assets/images/drco/79.png"
            style="right: 6.66vw; bottom: 20vw; width: 73vw"
          />
          <img
            src="@/assets/images/drco/points_page2.png"
            style="bottom: 0; width: 100vw"
          />
        </div>
        <div class="section three">
          <img
            src="@/assets/images/drco/logo_brand_emblem.png"
            style="top: 5vw; left: 5vw; width: 54vw"
          />
          <img
            src="@/assets/images/drco/variations.png"
            style="right: 9.75vw; top: 13vw; width: 29.85vw"
          />
          <img
            src="@/assets/images/drco/visual_identity_applications.png"
            style="right: 2vw; top: 41vw; width: 2.5vw"
          />
          <img
            src="@/assets/images/drco/lines_red_white.png"
            style="bottom: -25.8vw; width: 16.66vw"
          />
          <img
            src="@/assets/images/drco/decor_points_mark_variations.png"
            style="bottom: 1vw; width: 100vw"
          />
          <img
            src="@/assets/images/drco/88.png"
            style="right: 9.75vw; bottom: 19.5vw; width: 68vw"
          />
        </div>
        <div class="section four">
          <img
            src="@/assets/images/drco/patterns.png"
            style="left: 50%; top: 50%; width: 52vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/patterns_info.png"
            style="left: 10.75vw; bottom: 5.85vw; width: 2.6vw"
          />
        </div>
        <div class="section five">
          <img
            src="@/assets/images/drco/dosis_font.png"
            style="left: 7vw; top: 10vw; width: 24vw"
          />
          <img
            src="@/assets/images/drco/93.png"
            style="left: 9.75vw; top: 39vw; width: 83vw"
          />
          <img
            src="@/assets/images/drco/91.png"
            style="left: 50%; top: 65%; width: 56vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/fonts_info.png"
            style="left: 9.75vw; bottom: 21.5vw; width: 2vw"
          />
          <img
            src="@/assets/images/drco/gobold_font.png"
            style="right: 22vw; bottom: 10vw; width: 24vw"
          />
          <img
            src="@/assets/images/drco/81.png"
            style="bottom: 0; height: 110vw; transform: translate(280%, 51%) rotate(90deg) scaleX(1.2)"
          />
        </div>
        <div class="section six">
          <img
            src="@/assets/images/drco/3.png"
            style="left: 50%; bottom: 40vw; width: 88.5vw; transform: translateX(-50%)"
          />
          <slider
            :mode="'fade'"
            :images="girlImages"
            :height="'calc(330vw / 3)'"
            :infinite-loop="true"
            :controls-top="'39%'"
            :display-controls="false"
            class="w-100 absolute bottom"
          />
        </div>
        <div class="section seven">
          <img
            src="@/assets/images/drco/10.png"
            style="right: 7.5vw; top: 17vw; width: 73vw"
          />
          <img
            src="@/assets/images/drco/11.png"
            style="right: 7.5vw; top: 53vw; width: 73vw"
          />
          <img
            src="@/assets/images/drco/9.png"
            style="left: 1vw; bottom: 14.5vw; width: 14vw"
          />
          <img
            src="@/assets/images/drco/palms_colors.png"
            style="right: 7.5vw; bottom: 30vw; width: 60vw"
          />
        </div>
        <div class="section eight">
          <img
            src="@/assets/images/drco/16.png"
            style="left: 50%; top: 14.75vw; width: 90%; transform: translateX(-50%); box-shadow: 7px 7px 10px #ccc"
          />
          <img
            src="@/assets/images/drco/12.png"
            style="left: 9vw; top: 53vw; width: 83vw"
          />
          <slider
            :mode="'fade'"
            :images="socialMediaImages"
            :height="'88.5vw'"
            :infinite-loop="true"
            :arrow-left="arrowLeftRed"
            :arrow-right="arrowRightRed"
            class="w-50 absolute left-50 translateX-50"
            style="bottom: 5%"
          />
        </div>
        <div class="section nine">
          <img
            src="@/assets/images/drco/21.png"
            style="left: 9vw; top: 17vw; width: 75vw"
          />
          <img
            src="@/assets/images/drco/20.png"
            style="left: 75%; top: 22.5%; width: 40vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/19.png"
            style="left: 57.5%; top: 50%; width: 49vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/18.png"
            style="left: 31.25%; top: 63.75%; width: 40vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/17.png"
            style="left: 9.75vw; bottom: 21.5vw; width: 2.8vw"
          />
          <img
            src="@/assets/images/drco/22.png"
            style="right: 9vw; bottom: 11.25vw; width: 75vw"
          />
        </div>
        <div
          :class="[
            'section',
            'ten',
            $store.state.priority === 'results' ? 'y-hidden' : ''
          ]"
        >
          <img
            src="@/assets/images/drco/decor_points_final.png"
            class="w-100"
            style="bottom: -40vw"
          />
          <div class="absolute w-100 h-90" style="z-index: -1" />
          <img
            v-show="$store.state.priority === 'results'"
            src="@/assets/images/drco/25.png"
            style="left: 50%; top: 45%; width: 90%; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/24.png"
            style="left: 84%; top: 15%; width: 17vw; mix-blend-mode: multiply; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/24.png"
            style="left: 22%; top: 63%; width: 17vw; mix-blend-mode: multiply; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/line_border.png"
            style="bottom: -7.5vw; width: 100%; transform: scaleY(1.2)"
          />
        </div>
      </div>
      <div class="results" :style="{ order: resultsOrder }">
        <div class="section eleven">
          <img
            src="@/assets/images/drco/points_page_a.png"
            class="bottom right w-100 reverseX"
          />
          <img
            src="@/assets/images/drco/process.png"
            style="left: 5vw; top: 25vw; width: 15.4vw"
          />
          <img
            src="@/assets/images/drco/modeboard.png"
            style="right: 2.5vw; top: 15vw; width: 70.4vw"
          />
          <img
            src="@/assets/images/drco/31.png"
            style="left: 5vw; bottom: 15vw; width: 90vw"
          />
        </div>
        <div class="section twelve">
          <img
            src="@/assets/images/drco/points_page.png"
            class="top right w-100 reverseX"
          />
          <img
            src="@/assets/images/drco/33.png"
            style="left: 8.8vw; top: 8.7vw; width: 73.15vw"
          />
          <img
            src="@/assets/images/drco/34.png"
            style="left: 10.75vw; top: 36vw; width: 65.55vw"
          />
          <img
            src="@/assets/images/drco/35.png"
            style="left: 6.8vw; top: 76.15vw; width: 67.21vw"
          />
          <img
            src="@/assets/images/drco/37.png"
            style="left: 6.8vw; top: 111vw; width: 72.5vw"
          />
          <img
            src="@/assets/images/drco/36.png"
            style="left: 60%; bottom: 0; width: 63.4vw; transform: translateX(-50%)"
          />
          <img
            src="@/assets/images/drco/2lines.png"
            class="w-100"
            style="bottom: -95vw; mix-blend-mode: multiply"
          />
        </div>
        <div class="section thirdteen">
          <img
            src="@/assets/images/drco/timon_mobile.png"
            style="top: -1%; width: 43.5vw"
          />
          <img
            src="@/assets/images/drco/44.png"
            style="right: 9.75vw; top: 56.6vw; width: 47.75vw"
          />
          <img
            src="@/assets/images/drco/43.png"
            style="left: 12vw; bottom: 63vw; width: 71vw"
          />
          <img
            src="@/assets/images/drco/41.png"
            style="right: 0; bottom: 0; width: 100vw; transform: translate(7.5%, 15%)"
          />
          <img
            src="@/assets/images/drco/circle.png"
            style="left: 16vw; bottom: -61vw; width: 52vw"
          />
        </div>
        <div class="section fourteen">
          <img
            src="@/assets/images/drco/47.png"
            style="top: 1vw; width: 78vw; transform:rotate(-28deg) translateX(-13%)"
          />
          <img
            src="@/assets/images/drco/50.png"
            style="left: 50%; bottom: 9.75vw; width: 45vw; transform: translateX(-50%)"
          />
        </div>
        <div class="section fiveteen">
          <img
            src="@/assets/images/drco/decor_points_design_process.png"
            style="left: 5vw; top: 7.5vw; width: 37.5vw"
          />
          <sketch-carousel />
          <img
            src="@/assets/images/drco/56.png"
            style="left: 50%; top: 75%; width: 61.5vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/we_value.png"
            style="left: 5vw; bottom: 20.5vw; width: 5.5vw"
          />
          <img
            src="@/assets/images/drco/60.png"
            style="bottom: 0; width: 36.1vw; transform: translate(-27%, 80.5%);"
          />
          <img
            src="@/assets/images/drco/palms_black_final.png"
            style="bottom: 0; right: 0; width: 45.3vw; transform: translateY(35%) scaleX(-1);"
          />
        </div>
        <div class="section sixteen">
          <img
            src="@/assets/images/drco/63.png"
            style="right: 4vw; top: 18vw; width: 68vw"
          />
          <img
            src="@/assets/images/drco/61.png"
            style="left: 5vw; top: 50vw; width: 73vw"
          />
          <img
            src="@/assets/images/drco/64.png"
            style="left: 50%; top: 60%; width: 50vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/62.png"
            style="right: 4vw; bottom: 25vw; width: 68vw"
          />
          <img
            src="@/assets/images/drco/palms_black_degra.png"
            style="right: 0; bottom: 0; width: 52vw; transform: translateY(72%)"
          />
          <img
            src="@/assets/images/drco/palms_black_final.png"
            style="bottom: 0; width: 52vw; transform: translateY(95%)"
          />
        </div>
        <div class="section seventeen">
          <img
            v-show="$store.state.priority === 'process'"
            src="@/assets/images/drco/25.png"
            style="left: 50%; top: 45%; width: 90%; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/67.png"
            style="left: 50%; top: 65%; width: 50vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/decor_points_final.png"
            style="bottom: 0; width: 100vw; mix-blend-mode: multiply"
          />
        </div>
      </div>
    </div>

    <!-- LANDSCAPE -->

    <div
      v-else-if="!$store.state.isVertical && $route.query.project === 'drco'"
      class="orderable"
    >
      <div class="process" :style="{ order: processOrder }">
        <div class="section two">
          <img
            src="@/assets/images/drco/palms-web-intro.png"
            style="width: 41%"
          />
          <img
            src="@/assets/images/drco/82.png"
            style="left: 0.4vw; top: 49%; width: 98.8%"
          />
          <img
            src="@/assets/images/drco/80.png"
            style="left: 10vw; top: 6.25vw; width: 7.9vw"
          />
          <img
            src="@/assets/images/drco/78.png"
            style="left: 21.7vw; top: 12.6vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/79.png"
            style="right: 20.7vw; top: 22.6vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/81.png"
            style="right: 0; top: 15.6vw; width: 8.9vw"
          />
        </div>
        <div class="section three">
          <img
            src="@/assets/images/drco/83.png"
            style="top: -2vw; width: 2.6vw"
          />
          <img
            src="@/assets/images/drco/84.png"
            style="left: 5.25vw; top: 2.5vw; width: 54vw"
          />
          <img
            src="@/assets/images/drco/85.png"
            style="left: 50%; top: 11.6vw; width: 14vw; transform: translateX(-50%)"
          />
          <img
            src="@/assets/images/drco/86.png"
            style="left: 11.3vw; bottom: 4.25vw; width: 44.2vw"
          />
          <img
            src="@/assets/images/drco/87.png"
            style="left: 10vw; bottom: 9.55vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/88.png"
            style="right: 17.4vw; bottom: 6.5vw; width: 20vw"
          />
        </div>
        <div class="section four">
          <img
            src="@/assets/images/drco/89.png"
            style="left: 13.15vw; top: 8.7vw; width: 17.9vw"
          />
          <img
            src="@/assets/images/drco/90.png"
            style="left: 10vw; bottom: 11vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/91.png"
            style="left: 48.5%; top: 50%; width: 27.1vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/92.png"
            style="right: 21.5vw; top: 11.3vw; width: 13.15vw"
          />
          <img
            src="@/assets/images/drco/93.png"
            style="right: 20vw; bottom: 7.9vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/94.png"
            style="right: 10vw; top: 7.9vw; width: 0.7vw"
          />
        </div>
        <div class="section five" style="height: calc(100vw)">
          <img
            src="@/assets/images/drco/3.png"
            style="left: 12.35vw; bottom: 7vw; width: 48.5vw"
          />
          <div
            class="absolute bottom"
            style="left: 15%; transform: translateX(-50); width: 44vw"
          >
            <slider
              :mode="'fade'"
              :images="girlImages"
              :height="'51.5vw'"
              :infinite-loop="true"
              :display-controls="false"
              :controls-top="'55.5%'"
              :left-anchor-style="{
                cursor: 'pointer',
                height: '5vw',
                width: '3.68vw',
                left: '-2vw'
              }"
              :right-anchor-style="{
                cursor: 'pointer',
                height: '5vw',
                width: '3.68vw',
                right: '-2vw'
              }"
            />
          </div>
        </div>
        <div class="section six">
          <img src="@/assets/images/drco/6.png" style="width: 2.45vw" />
          <img
            src="@/assets/images/drco/7.png"
            style="left: 10vw; top: 50%; width: 0.7vw; transform: translateY(-50%)"
          />
          <img
            src="@/assets/images/drco/8.png"
            style="left: 51.5%; top: 17.9vw; width: 51vw; transform: translateX(-50%)"
          />
          <img
            src="@/assets/images/drco/9.png"
            style="right: 10.5vw; top: 5.25vw; width: 6.4vw"
          />
          <img
            src="@/assets/images/drco/10.png"
            style="left: 22vw; top: 34.8vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/11.png"
            style="right: 22vw; top: 34.8vw; width: 20vw"
          />
        </div>
        <div class="section seven">
          <img
            src="@/assets/images/drco/12.png"
            style="left: 12.8vw; top: 11.3vw; width: 31.6vw"
          />
          <img
            src="@/assets/images/drco/15.png"
            style="left: 0.4vw; top: 21.8vw; width: 98.8%"
          />
          <img
            src="@/assets/images/drco/16.png"
            style="left: 9.5vw; top: 23.4vw; width: 39vw"
          />
          <slider
            :mode="'fade'"
            :images="socialMediaImages"
            :height="'360px'"
            :infinite-loop="true"
            :arrow-left="arrowLeftRed"
            :arrow-right="arrowRightRed"
            class="w-20 absolute left-75 top-50 translate-50"
          />
        </div>
        <div class="section eight">
          <img
            src="@/assets/images/drco/17.png"
            style="left: 10vw; top: 13.7vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/18.png"
            style="left: 15.8vw; top: 10vw; width: 17.1vw"
          />
          <img
            src="@/assets/images/drco/19.png"
            style="left: 50%; top: 50%; width: 25.5vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/20.png"
            style="right: 15.8vw; top: 10vw; width: 17.1vw"
          />
          <img
            src="@/assets/images/drco/22.png"
            style="left: 20vw; bottom: 7.4vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/21.png"
            style="right: 20vw; bottom: 7.4vw; width: 20vw"
          />
        </div>
        <div
          :class="[
            'section',
            'nine',
            $store.state.priority === 'results' ? 'y-hidden' : ''
          ]"
        >
          <img
            src="@/assets/images/drco/24.png"
            style="left: 23vw; top: 4.25vw; width: 7.5vw"
          />
          <img
            src="@/assets/images/drco/23.png"
            style="top: 5.8vw; width: 91.5%"
          />
          <img
            src="@/assets/images/drco/24.png"
            style="right: 14.5vw; top: 22.25vw; width: 7.5vw; mix-blend-mode: multiply"
          />
          <img
            src="@/assets/images/drco/82.png"
            style="left: 0.4vw; top: 28.3vw; width: 98.8%"
          />
          <img
            v-show="$store.state.priority === 'results'"
            src="@/assets/images/drco/25.png"
            style="left: 50%; top: 55%; width: 47.4vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/26.png"
            style="right: 0; top: 18vw; width: 8.3vw"
          />
        </div>
      </div>
      <div class="results" :style="{ order: resultsOrder }">
        <div class="section ten">
          <img
            src="@/assets/images/drco/28.png"
            style="left: 51%; top: 45%; width: 64.78vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/27.png"
            style="left: 8.5vw; top: 2.25vw; width: 6.4vw"
          />
          <img
            src="@/assets/images/drco/30.png"
            style="left: 21.1vw; top: 10vw; width: 51.25vw"
          />
          <img
            src="@/assets/images/drco/31.png"
            style="left: 12vw; bottom: 11vw; width: 25vw"
          />
        </div>
        <div class="section eleven">
          <img
            src="@/assets/images/drco/32.png"
            style="right: 0; width: 48.5vw"
          />
          <img
            src="@/assets/images/drco/33.png"
            style="right: 53vw; top: 10vw; width: 27.86vw"
          />
          <img
            src="@/assets/images/drco/34.png"
            style="right: 53vw; top: 22vw; width: 25.26vw"
          />
          <img
            src="@/assets/images/drco/35.png"
            style="right: 53vw; bottom: 4.5vw; width: 26.25vw"
          />
          <img
            src="@/assets/images/drco/39.png"
            style="right: 0.5vw; bottom: 5vw; width: 50vw"
          />
          <img
            src="@/assets/images/drco/36.png"
            style="right: 9.42vw; bottom: 4.5vw; width: 39vw"
          />
          <img
            src="@/assets/images/drco/37.png"
            style="right: 17.1vw; top: 10vw; width: 20.4vw"
          />
          <img
            src="@/assets/images/drco/38.png"
            style="right: 12vw; top: 6vw; width: 0.7vw"
          />
        </div>
        <div class="section twelve">
          <img
            src="@/assets/images/drco/42.png"
            style="right: 11vw; bottom: 4.5vw; width: 40vw"
          />
          <img src="@/assets/images/drco/41.png" style="height: 100%" />
          <img
            src="@/assets/images/drco/43.png"
            style="left: 15.15vw; top: 15.8vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/44.png"
            style="left: 16.575vw; bottom: 5.5vw; width: 16vw"
          />
          <img
            src="@/assets/images/drco/45.png"
            style="left: 11vw; bottom: 11vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/40.png"
            style="right: 5vw; top: 4.5vw; width: 6.5vw"
          />
        </div>
        <div class="section thirdteen">
          <img src="@/assets/images/drco/46.png" style="width: 100%" />
          <img
            src="@/assets/images/drco/47.png"
            style="left: 14vw; bottom: 8vw; width: 29.8vw"
          />
          <img
            src="@/assets/images/drco/49.png"
            style="left: 9vw; bottom: 21vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/50.png"
            style="right: 21.21vw; top: 15.15vw; width: 15.15vw"
          />
          <img
            src="@/assets/images/drco/51.png"
            style="right: 21.21vw; bottom: 15vw; width: 20vw"
          />
        </div>
        <div class="section fourteen">
          <sketch-carousel />
          <img
            src="@/assets/images/drco/56.png"
            style="left: 50%; top: 93%; width: 14.27vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/58.png"
            style="left: -1vw; bottom: 11.8vw; width: 14vw"
          />
          <img
            src="@/assets/images/drco/57.png"
            style="right: 0.25vw; top: 8vw; width: 10vw"
          />
        </div>
        <div class="section fiveteen">
          <img
            src="@/assets/images/drco/59.png"
            style="right: 0; top: 0.85vw; width: 28.54vw"
          />
          <img
            src="@/assets/images/drco/60.png"
            style="bottom: -35vw; width: 30.8vw"
          />
          <img
            src="@/assets/images/drco/64.png"
            style="left: 50%; top: 57%; width: 26.14vw; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/drco/63.png"
            style="left: 19vw; top: 15vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/61.png"
            style="left: 19vw; top: 35vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/62.png"
            style="right: 18.5vw; top: 35vw; width: 20vw"
          />
          <img
            src="@/assets/images/drco/65.png"
            style="left: 8vw; top: 11.2vw; width: 0.7vw"
          />
          <img
            src="@/assets/images/drco/66.png"
            style="right: 10vw; bottom: 5.75vw; width: 0.7vw"
          />
        </div>
        <div class="section sixteen">
          <img
            src="@/assets/images/drco/69.png"
            style="left: 0.5vw; bottom: 0; width: 98.5%; mix-blend-mode: multiply"
          />
          <img
            src="@/assets/images/drco/67.png"
            style="left: 37.5%; top: 55%; width: 30vw; transform: translate(-50%,-50%)"
          />
          <img
            v-show="$store.state.priority === 'process'"
            src="@/assets/images/drco/70.png"
            style="left: 55%; top: 50%; width: 29.95vw"
          />
          <img
            src="@/assets/images/drco/68.png"
            style="right: 0; bottom: 0; width: 8.7vw; mix-blend-mode: multiply"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Slider from './DRCO/Slider'
import SketchCarousel from './DRCO/SketchCarousel'

const arrowLeftRed = `<img src=${require('@/assets/images/drco/arrow_red_left.png')} style='transform: translate(-175%, -100%)'>`
const arrowRightRed = `<img src=${require('@/assets/images/drco/arrow_red.png')} style='transform: translate(175%, -100%)'>`

export default {
  name: 'DRCO',
  components: { Slider, SketchCarousel },
  data() {
    return {
      girlImages: [
        require('@/assets/images/drco/girl1.png'),
        require('@/assets/images/drco/girl2.png'),
        require('@/assets/images/drco/girl3.png'),
        require('@/assets/images/drco/girl4.png'),
        require('@/assets/images/drco/girl5.png'),
        require('@/assets/images/drco/girl6.png'),
        require('@/assets/images/drco/girl7.png'),
        require('@/assets/images/drco/girl8.png'),
        require('@/assets/images/drco/girl9.png'),
        require('@/assets/images/drco/girl10.png'),
        require('@/assets/images/drco/girl11.png')
      ],
      socialMediaImages: [
        require('@/assets/images/drco/social-media-1.png'),
        require('@/assets/images/drco/social-media-2.png'),
        require('@/assets/images/drco/social-media-3.png'),
        require('@/assets/images/drco/social-media-4.png'),
        require('@/assets/images/drco/social-media-5.png'),
        require('@/assets/images/drco/social-media-6.png'),
        require('@/assets/images/drco/social-media-7.png'),
        require('@/assets/images/drco/social-media-8.png'),
        require('@/assets/images/drco/social-media-9.png'),
        require('@/assets/images/drco/social-media-10.png'),
        require('@/assets/images/drco/social-media-11.png'),
        require('@/assets/images/drco/social-media-12.png')
      ],
      arrowLeftRed,
      arrowRightRed
    }
  },
  computed: mapState({
    headerHeight(state) {
      if (state.isVertical) {
        return this.$route.query.project === 'drco' ? '' : 'calc(100vh / 3)'
      } else {
        return '100vh'
        // return this.$route.query.project === 'drco'
        //   ? 'calc(100vw * 0.5625)'
        //   : '100vh'
      }
    },
    processOrder(state) {
      return this.$store.state.priority === 'process' ? 0 : 1
    },
    resultsOrder(state) {
      return this.$store.state.priority === 'results' ? 0 : 1
    }
  })
}
</script>

<style lang="scss">
#drco {
  div.section.one {
    background-size: cover;
    background-position: center;
    transition: height 1s linear;
    background-image: url('../assets/images/drco/p_drco_portrait.png');

    @media screen and (min-width: 992px) {
      background-image: url('../assets/images/drco/p_drco.png');
    }
  }

  @media screen and (max-width: 991px) {
    div.section.three {
      background-image: url('../assets/images/drco/shirts.png');
      background-size: cover;
      z-index: 1;
    }

    div.section.four {
      background-image: url('../assets/images/drco/wallpaper_patterns.png');
      background-size: cover;
    }

    div.section.five {
      background-image: url('../assets/images/drco/wallpaper_white.png');
      background-size: cover;
    }

    div.section.six {
      background-image: url('../assets/images/drco/wallpaper_pieces.png');
      background-size: cover;
      mix-blend-mode: darken;
    }

    div.section.seven {
      background-image: url('../assets/images/drco/wallpaper_white.png');
      background-size: cover;
    }

    div.section.eight {
      background-image: url('../assets/images/drco/decor_points_social_media.png');
      background-size: cover;
    }

    div.section.ten > div {
      background-image: url('../assets/images/drco/caps.png');
      background-size: cover;
      mix-blend-mode: multiply;
      width: 100%;
      height: 90%;
    }

    div.section.fourteen {
      overflow: hidden;
      background-image: url('../assets/images/drco/wallpaper_designs.png');
      background-size: cover;
    }
  }

  @media screen and (min-width: 992px) {
    div.section.five {
      background-image: url('../assets/images/drco/1.png');
      background-size: cover;
      padding-top: 44.4vw;
      margin-top: -44.4vw;
    }
  }
}
</style>
