<template>
  <div style="background-color: #FFF">
    <div class="section one" :style="{ height: headerHeight }"></div>
    <div v-if="$route.query.project === 'eight-tree'" class="orderable">
      <section-2 />
      <div class="process" :style="{ order: processOrder }">
        <section-3 />
        <section-4 />
        <section-5 />
        <section-6 />
      </div>
      <div class="results" :style="{ order: resultsOrder }">
        <section-7 />
        <section-8 />
        <section-9 />
        <section-10 />
      </div>
      <section-11 />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Section2 from './EightTree/Section2'
import Section3 from './EightTree/Section3'
import Section4 from './EightTree/Section4'
import Section5 from './EightTree/Section5'
import Section6 from './EightTree/Section6'
import Section7 from './EightTree/Section7'
import Section8 from './EightTree/Section8'
import Section9 from './EightTree/Section9'
import Section10 from './EightTree/Section10'
import Section11 from './EightTree/Section11'

export default {
  name: 'EightTree',
  components: {
    Section2,
    Section3,
    Section4,
    Section5,
    Section6,
    Section7,
    Section8,
    Section9,
    Section10,
    Section11
  },
  computed: mapState({
    headerHeight(state) {
      if (state.isVertical) {
        return this.$route.query.project === 'eight-tree'
          ? ''
          : 'calc(100vh / 3)'
      } else {
        return '100vh'
        // return this.$route.query.project === 'eight-tree'
        //   ? 'calc(100vw * 0.5625)'
        //   : '100vh'
      }
    },
    processOrder(state) {
      return state.priority === 'process' ? 0 : 1
    },
    resultsOrder(state) {
      return state.priority === 'results' ? 0 : 1
    }
  })
}
</script>

<style>
#eight-tree div.section.one {
  background-size: cover;
  background-position: center;
  background-image: url('../assets/images/eight-tree/p_bubba_portrait.jpg');
  transition: height 1s linear;
}

@media screen and (min-width: 992px) {
  #eight-tree div.section.one {
    background-image: url('../assets/images/eight-tree/p_bubba.jpg');
  }
}
</style>
