<template>
  <div v-if="$store.state.isVertical">
    <img
      :src="src"
      class="main-logo"
      :style="{ zIndex: $store.state.logoZIndex }"
    />
  </div>
</template>

<script>
import logo from '@/assets/images/entry/logo.png'
import draft from '@/assets/images/entry/draft.png'
export default {
  name: 'FixedLogo',
  computed: {
    src() {
      return this.$store.state.isDark ? logo : draft
    }
  }
}
</script>

<style>
.main-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 35vh;
  width: auto;
}
</style>
