<template>
  <div :class="['gallery', open ? 'active' : '']" :style="{ zIndex }">
    <div class="gallery-touchable" :style="{ zIndex: imageArray.length }"></div>
    <div
      v-for="index in 17"
      :key="index"
      class="gallery-image"
      :style="{
        backgroundImage: `url(${require('../assets/images/gallery/' +
          index +
          '.jpg')})`
      }"
    ></div>
  </div>
</template>

<script>
import * as util from '@/assets/js/util'
import * as fibb from '@/assets/js/fibb'
const Hammer = require('hammerjs')

export default {
  props: {
    open: { type: Boolean, required: true },
    zIndex: { type: Number, default: 10 }
  },
  data: () => ({
    imageArray: [],
    hammer: undefined
  }),
  mounted() {
    document.addEventListener('keydown', this.checkKey)
    document
      .querySelectorAll('.gallery .gallery-image')
      .forEach((el) => this.imageArray.push(el))

    this.imageArray.forEach((el) =>
      fibb.setPositionAttribute(
        el,
        this.imageArray.indexOf(el),
        this.$store.state.isVertical
      )
    )

    const touchable = document.querySelector('.gallery-touchable')
    touchable.style.zIndex = this.imageArray.lenght + 1

    this.hammer = new Hammer(touchable)
    this.hammer.on('swipeleft', this.swipeLeft)
    this.hammer.on('swiperight', this.swipeRight)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.checkKey)
    this.hammer.off('swipeleft', this.swipeLeft)
    this.hammer.off('swiperight', this.swipeRight)
  },
  methods: {
    rotate(count) {
      util.arrayRotate(this.imageArray, count)
      this.imageArray.forEach((el) =>
        fibb.setPositionAttribute(
          el,
          this.imageArray.indexOf(el),
          this.$store.state.isVertical
        )
      )
    },
    rotateClockwise(e) {
      if (this.open) this.rotate(1)
    },
    rotateCounterClockwise(e) {
      if (this.open) this.rotate(-1)
    },
    swipeLeft(e) {
      if (this.$store.state.isVertical) this.rotateCounterClockwise(e)
      else this.rotateClockwise(e)
    },
    swipeRight(e) {
      if (this.$store.state.isVertical) this.rotateClockwise(e)
      else this.rotateCounterClockwise(e)
    },
    checkKey(e) {
      if (e.key === 'ArrowLeft') {
        this.rotateClockwise()
      } else if (e.key === 'ArrowRight') {
        this.rotateCounterClockwise()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.gallery {
  position: fixed;
  background-color: black;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

  &.active {
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  .gallery-touchable {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .gallery-image {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: left 400ms, top 400ms, width 400ms, height 400ms;
  }
}
</style>
