<template>
  <div class="bg-white">
    <div class="section one" :style="{ height: headerHeight }"></div>
    <div v-if="$route.query.project === 'niiv'" class="orderable">
      <div class="process" :style="{ order: processOrder }">
        <section-2 />
        <section-3 />
        <section-4 />
        <section-5 />
        <section-6 />
        <section-7 />
      </div>
      <div class="results" :style="{ order: resultsOrder }">
        <section-9 />
        <section-10 />
        <section-11 />
        <section-12 />
        <section-13 />
        <!-- <section-14 /> -->
        <section-15 />
        <section-16 />
      </div>
    </div>
    <section-8 />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Section2 from './NIIV/Section 2'
import Section3 from './NIIV/Section 3'
import Section4 from './NIIV/Section 4'
import Section5 from './NIIV/Section 5'
import Section6 from './NIIV/Section 6'
import Section7 from './NIIV/Section 7'
import Section8 from './NIIV/Section 8'
import Section9 from './NIIV/Section 9'
import Section10 from './NIIV/Section 10'
import Section11 from './NIIV/Section 11'
import Section12 from './NIIV/Section 12'
import Section13 from './NIIV/Section 13'
// import Section14 from './NIIV/Section 14'
import Section15 from './NIIV/Section 15'
import Section16 from './NIIV/Section 16'
export default {
  name: 'NIIV',
  components: {
    Section2,
    Section3,
    Section4,
    Section5,
    Section6,
    Section7,
    Section8,
    Section9,
    Section10,
    Section11,
    Section12,
    Section13,
    // Section14,
    Section15,
    Section16
  },
  computed: mapState({
    headerHeight(state) {
      if (state.isVertical) {
        return this.$route.query.project === 'niiv' ? '' : 'calc(100vh / 3)'
      } else {
        return '100vh'
        // return this.$route.query.project === 'niiv'
        //   ? 'calc(100vw * 0.5625)'
        //   : '100vh'
      }
    },
    processOrder(state) {
      return state.priority === 'process' ? 0 : 1
    },
    resultsOrder(state) {
      return state.priority === 'results' ? 0 : 1
    }
  })
}
</script>

<style lang="scss">
#niiv {
  div.section > div {
    height: inherit;
    transition: height 1s linear;
  }
  div.section.one {
    background-image: url('../assets/images/niiv/p_niiv.png');
    background-size: cover;
    background-position: center;
  }
  .bg-gold {
    background-color: #fcca6e;
  }

  @media screen and (max-width: 991px) {
    div.section > div {
      text-align: center;
    }
    div.section img {
      position: initial;
    }
    div.section img.text {
      width: 85%;
    }
    div.h-line.bg-gold {
      display: inline-block;
      height: 1px;
      width: 40%;
    }
    div.section.eight {
      min-height: 175px;
    }
    div.section.eleven {
      min-height: initial;
    }
  }
}
</style>
