@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis Variable.ttf') format('truetype');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Gobold';
    src: url('/fonts/Gobold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gobold Extra2';
    src: url('/fonts/Gobold.otf') format('opentype');
}

@font-face {
  font-family: 'Gobold High Bold';
  src: url('/fonts/Gobold High Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gobold Light';
  src: url('/fonts/Gobold light.otf') format('opentype');
}

@font-face {
  font-family: 'Gobold Uplow';
  src: url('/fonts/Gobold Uplow.otf') format('opentype');
}

@font-face {
  font-family: 'XXII Neue Norm Cnd Black';
  src: url('/fonts/XXIINeueNorm-CndBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'XXII Neue Norm Cnd Bold';
  src: url('/fonts/XXIINeueNorm-CndBold.ttf') format('truetype');
}

@font-face {
  font-family: 'XXII Neue Norm Cnd Medium';
  src: url('/fonts/XXIINeueNorm-CndMedium.ttf') format('truetype');
}

.font-dosis {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.font-dosis-bold {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.font-dosis-extra-light {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
}

.font-gobold {
  font-family: 'Gobold', sans-serif
}

.font-gobold-extra2 {
  font-family: 'Gobold Extra2', sans-serif
}

.font-gobold-high-bold {
  font-family: 'Gobold High Bold', sans-serif
}

.font-gobold-light {
  font-family: 'Gobold Light', sans-serif
}

.font-gobold-uplow {
  font-family: 'Gobold Uplow', sans-serif
}

.font-neue-black {
  font-family: 'XXII Neue Norm Cnd Black', sans-serif
}

.font-neue-bold {
  font-family: 'XXII Neue Norm Cnd Bold', sans-serif
}

.font-neue-medium {
  font-family: 'XXII Neue Norm Cnd Medium', sans-serif
}

.font-small {
  font-size: 0.825rem;
}

.bold {
  font-weight: bold;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.x-visible {
  overflow-x: visible;
}
.x-hidden {
  overflow-x: hidden;
}
.y-hidden {
  overflow-y: hidden;
}
.y-visible {
  overflow-y: visible;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
div.section .non-absolute > img {
  position: initial;
}

.align-center {
  align-items: center;
}
.grow {
  flex-grow: 1;
}

.top {
  top: 0;
}
.top-25 {
  top: 25%;
}
.top-50 {
  top: 50%;
}
.top-75 {
  top: 75%;
}

.left {
  left: 0;
}
.left-25 {
  left: 25%;
}
.left-50 {
  left: 50%;
}
.left-75 {
  left: 75%;
}

.bottom {
  bottom: 0;
}
.bottom-25 {
  bottom: 25%;
}
.bottom-50 {
  bottom: 50%;
}
.bottom-75 {
  bottom: 75%;
}

.right {
  right: 0;
}
.right-25 {
  right: 25%;
}
.right-50 {
  right: 50%;
}
.right-75 {
  right: 75%;
}

.translate-50 {
  transform: translate(-50%, -50%);
}
.translateX-50 {
  transform: translateX(-50%);
}
.translateY-50 {
  transform: translateY(-50%);
}

.reverseX {
  transform: scaleX(-1)
}

.horizontal-align-self {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

.top-left-align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-1\/3 {
  width: calc(100%/3) !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}

.h-15 {
  height: 15% !important;
}
.h-20 {
  height: 20% !important;
}
.h-30 {
  height: 30% !important;
}
.h-40 {
  height: 40% !important;
}

.h-1\/3 {
  height: calc(100%/3) !important;
}
.h-2\/7 {
  height: calc(100% * 2 / 7) !important;
}
.h-3\/7 {
  height: calc(100% * 3 / 7) !important;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* EIGHT TREE */

.bg-blue {
  background-color: #58b7dc;
}
.bg-grey {
  background-color: #232323;
}
.bg-yellow {
  background-color: #ffb30b;
}
.bg-b-white {
  background-color: #efefef;
}

.h-line {
  height: 3px;
}
@media screen and (min-width: 992px) {
  .h-line {
    height: 1px;
  }
}

.border {
  border: initial !important;
  color: white !important;
  position: relative;
}
.border.border-left.border-yellow {
  border-left: 1px solid #ffb30b !important;
  padding-left: 1.25vw;
}
.border.border-right.border-yellow {
  border-right: 1px solid #ffb30b !important;
  padding-right: 1.25vw;
}
.border.border-left.border-yellow:before,
.border.border-right.border-yellow:before {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 1px;
  background-color: #fbd781;
}
.border.border-left.border-yellow:before {
  left: -2px;
}
.border.border-right.border-yellow:before {
  right: -2px;
}

@media screen and (max-width: 991px) {
  .mb-fix {
    margin-bottom: -2px;
  }
}

span.yellow-marker {
  background-image: url('../images/eight-tree/arrow_right.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 12.5vw;
  height: 12.5vw;
  margin-top: 2px;
  display: block;
}

.contain {
  background-size: contain;
}
.cover {
  background-size: cover;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.mx-5\% {
  margin-right: 5%;
  margin-left: 5%;
}

.mx-10\% {
  margin-right: 10%;
  margin-left: 10%;
}

.pt-10vh, .py-10vh {
  padding-top: 10vh;
}

.pb-10vh, .py-10vh {
  padding-bottom: 10vh;
}

.minh-initial {
  min-height: initial !important;
}

.leading-relaxed {
  line-height: 1.75;
}

.color-white {
  color: white;
}