html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div.section {
  width: 100%;
  height: calc(100vw * 0.5625);
  position: relative;
}
div.section .force-h-100 {
  height: calc(100vw * 0.5625) !important;
}

@media only screen and (max-width: 991px) {
  div.section {
    min-height: calc(100vw * 1.78);
    height: unset;
  }
  div.section .force-h-100 {
  height: calc(100vw * 1.78) !important;
  }

  div.section.one {
    min-height: unset;
    height: calc(100vw * 1.78);    
  }
}

div.section img {
  position: absolute;
}

.bx-wrapper {
  border: 0;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
  position: relative;
}

.bx-viewport {
  height: auto !important;
}

.bx-viewport ul {
  margin: 0;
}

.bx-viewport ul li {
  height: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  margin: -0.5px;
}

.bx-wrapper + div {
  text-align: center;
}

.bx-wrapper + div img {
  position: initial;
  margin: 0 1vw;
}

.bx-controls-direction a {
  z-index: 1;
}
.bx-controls-direction a img {
    min-width: 100%;
}
.bx-controls-direction .bx-next,
.bx-controls-direction .bx-prev {
  background: none;
}
.bx-controls-direction .bx-next {
  transform: translateX(25%);
}
.bx-controls-direction .bx-prev {
  transform: translateX(-25%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}