.full-video {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-video .patch {
  position: absolute;
  width: 5%;
  height: 100%;
}