<template>
  <div class="section ten bg-b-white d-flex flex-column flex-lg-row">
    <div class="relative col px-0 bg-blue order-lg-1 d-flex flex-column">
      <img
        v-if="$store.state.isVertical"
        src="@/assets/images/eight-tree/fun_on_details.png"
        style="left: 50%; top: 10%; width: 80%; transform: translate(-50%,-50%)"
      />
      <div class="pb-5 mb-5" />
      <div class="d-flex h-1/3">
        <div class="col d-flex justify-content-center align-items-center">
          <img src="@/assets/images/eight-tree/s_zebra.png" class="w-60" />
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img src="@/assets/images/eight-tree/s_sublime.png" class="w-1/3" />
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img src="@/assets/images/eight-tree/s_shark.png" class="w-70" />
        </div>
      </div>
      <div class="d-flex h-1/3">
        <div class="col d-flex justify-content-center align-items-center">
          <img
            src="@/assets/images/eight-tree/s_pizza.png"
            style="transform: rotate(-25deg)"
            class="w-80"
          />
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img
            src="@/assets/images/eight-tree/s_baseball.png"
            style="transform: rotate(90deg)"
            class="w-60"
          />
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img src="@/assets/images/eight-tree/s_fish.png" class="w-70" />
        </div>
      </div>
      <div class="d-flex h-1/3">
        <div class="col d-flex justify-content-center align-items-center">
          <img src="@/assets/images/eight-tree/s_panda.png" class="w-70" />
        </div>
        <div class="col d-flex justify-content-center align-items-end">
          <img src="@/assets/images/eight-tree/bubba_top.png" class="w-100" />
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <img
            src="@/assets/images/eight-tree/s_did_you_see.png"
            style="transform: rotate(-90deg)"
            class="w-60"
          />
        </div>
      </div>
    </div>
    <div class="relative col px-0 order-lg-0 d-flex">
      <img
        v-if="!$store.state.isVertical"
        src="@/assets/images/eight-tree/fun_on_details.png"
        style="left: 128%; top: 10%; width: 80%; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/eight-tree/sec10t1.png"
        class="d-none d-lg-block left-50 translate-50 w-70"
        style="top: 10%"
      />
      <slider
        :images="images"
        :height="$store.state.isVertical ? '85.618vw' : '40vw'"
        :background-size="'contain'"
        :bottom-controls-black="true"
        class="align-self-center mt-lg-5"
      />
    </div>
    <div class="relative non-absolute d-flex d-lg-none h-2/7">
      <p class="mx-10% my-4 font-gobold-light text-justify bold">
        Working with complex animation projects where we have to create
        everything from scratch allows us to introduce subliminal message in the
        minds of the weak. Ok we're lying, but we always enjoy to throw in a few
        easter eggs in the production, something subtle to the eye that we use a
        sublime's signature on this kind of projects. Attention to detail,
        that's all about.
      </p>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection10',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/101.png'),
        require('@/assets/images/eight-tree/102.png'),
        require('@/assets/images/eight-tree/103.png'),
        require('@/assets/images/eight-tree/104.png'),
        require('@/assets/images/eight-tree/105.png'),
        require('@/assets/images/eight-tree/106.png')
      ]
    }
  }
}
</script>
<style scoped>
@media only screen and (max-width: 991px) {
  #eight-tree .section.ten {
    height: calc(100vw * 2.67);
  }
}
@media only screen and (min-width: 992px) {
  #eight-tree .section.ten > div {
    height: 100%;
  }
}
</style>
