<template>
  <div class="section five minh-initial">
    <div v-if="$store.state.isVertical">
      <div class="relative" style="height: 45vw">
        <img
          src="@/assets/images/eight-tree/tcdraft.png"
          style="height: 100%; top: 50%; left: 37.5%; transform: translate(-50%,-50%) scaleX(-1)"
        />
      </div>
      <div
        class="absolute top non-absolute bg-yellow h-100"
        style="width: 30%; mix-blend-mode: multiply"
      >
        <img
          src="@/assets/images/eight-tree/characters_3d_process.png"
          class="d-block mx-auto"
          style="width: 70%; margin-top: 30px"
        />
      </div>
      <slider
        :images="images"
        :background-size="'cover'"
        :background-color="'#242424'"
      />
      <div class="d-flex justify-content-end">
        <p
          class="w-60 mx-5% mb-0 py-3 font-gobold font-small text-justify leading-relaxed"
        >
          After we ever sculpted the first version of bubba we knew that
          something was looking odd, we realized what is was when we moved to
          animation so we have to go back and fix bubba's topology. Creating 3d
          characters is a tricky process because is not only having a good
          aesthetic is needed, you need a good topology and a solid rigging in
          order to make something really worth animating.
        </p>
      </div>
    </div>
    <div v-else>
      <div class="absolute h-100 bg-yellow" style="width: 18.8vw" />
      <div class="absolute h-100 w-55">
        <div
          class="relative h100 left-50 top-50 translate-50"
          style="width: 34vw; box-shadow: 15% 0 10px 25% black"
        >
          <slider
            :images="images"
            :background-size="'cover'"
            :background-color="'#242424'"
            :height="'34vw'"
            :wrapper-style="{ boxShadow: '15px 0 70px -5px black' }"
            :bottom-controls-style="{ marginTop: '6vw' }"
            :bottom-controls-black="true"
          />
        </div>
      </div>
      <div class="absolute right h-100 w-45">
        <div class="relative w-100 h-100" style="padding: 7vw 0">
          <img
            class="w-100"
            src="@/assets/images/eight-tree/tcdraft.png"
            style="right: -10%; height: auto; transform: scaleX(-1)"
          />
          <div class="non-absolute border border-left border-yellow">
            <img
              src="@/assets/images/eight-tree/characters_3d_process.png"
              style="height: 13.15vw"
            />
          </div>
          <img
            src="@/assets/images/eight-tree/sec5t1.png"
            style="width: 16.7vw; padding-top: 1.5vw"
          />
          <img
            src="@/assets/images/eight-tree/created_in_blender.png"
            class="left-50 bottom translateX-50"
            style="padding-bottom: inherit; width: 21.21vw"
          />
          <div
            class="absolute left-50 translateX-50 bg-yellow h-line"
            style="bottom: 6.5vw; width: 21.21vw"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection5',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/cp1.jpg'),
        require('@/assets/images/eight-tree/cp2.jpg'),
        require('@/assets/images/eight-tree/cp3.jpg'),
        require('@/assets/images/eight-tree/cp4.jpg'),
        require('@/assets/images/eight-tree/cp5.jpg'),
        require('@/assets/images/eight-tree/cp6.jpg'),
        require('@/assets/images/eight-tree/cp7.jpg')
      ]
    }
  }
}
</script>
