<template>
  <div class="section seven bg-grey">
    <div v-if="$store.state.isVertical" class="non-absolute">
      <div class="py-5 non-absolute">
        <img
          src="@/assets/images/eight-tree/the_character.png"
          class="d-block mx-auto"
          style="width: 90%"
        />
      </div>
      <slider
        :mode="'fade'"
        :images="images"
        :infinite-loop="true"
        :hide-control-on-end="false"
        :background-size="'contain'"
        :height="'100vw'"
        :controls-top="'87.5%'"
        :controls-width="'12.2%'"
        :arrow-left="arrowLeft"
        :arrow-right="arrowRight"
      />
      <div style="position: relative; padding-top: 10vw; padding-bottom: 10vw">
        <p
          class="mx-10% font-gobold-light text-justify text-white leading-relaxed mb-0"
          style="padding-left: 12.2%"
        >
          Bubba was inteded to be a beaver boy since we wanted to make a cute
          character that could build all kinds of stuff to help him on his
          adventures, but the animal profile was not close to Bubba's
          personality. All he does is sleep, play and eat (a lot) so after
          throwing a lot of animals on the table (methaphorically) we decided to
          go for a cute panda kid.
          <br /><br />
          Whenever he enters the 8tree magic world, his onesie turns into a
          panda suit and suit and his cast turns into a cool magic bamboo arm
          that helps him reaching objects.
        </p>
        <div
          class="absolute bottom"
          style="width: 12.2%; height: calc(100% - 60vw); background-color: #EFEFEF"
        >
          <img
            src="@/assets/images/eight-tree/bubb.png"
            style="width: 100%; transform: scaleX(1.045) translateY(-99%)"
          />
        </div>
      </div>
    </div>
    <div v-else>
      <div class="absolute w-55 h-100">
        <div class="relative h-100">
          <div class="top-left-align-center" style="width: 42vw">
            <slider
              :mode="'fade'"
              :images="images"
              :infinite-loop="true"
              :hide-control-on-end="false"
              :background-size="'contain'"
              :height="'42vw'"
              :controls-top="'44%'"
              :controls-width="'12.2%'"
              :bottom-controls-on-landscape="false"
              :arrow-left="arrowLeft"
              :arrow-right="arrowRight"
              :left-anchor-style="{
                transform: 'translateX(67.5%)'
              }"
              :right-anchor-style="{
                transform: 'translateX(-67.5%)'
              }"
            />
          </div>
        </div>
      </div>
      <img
        src="@/assets/images/eight-tree/bubb.png"
        style="left: 10vw; bottom: 0; width: 5.15vw"
      />
      <img
        class="w-40 right pt-5"
        src="@/assets/images/eight-tree/tcdraft.png"
        style="height: auto; transform: translateX(35%)"
      />
      <img
        src="@/assets/images/eight-tree/the_character.png"
        style="right: 18.5vw; top: 10.6vw; width: 24.9vw"
      />
      <img
        src="@/assets/images/eight-tree/sec7t1.png"
        style="right: 25.75vw; top: 15vw; width: 16.7vw"
      />
      <img
        src="@/assets/images/eight-tree/2018_y.png"
        style="right: 12.4vw; top: 24.5vw; width: 0.78vw"
      />
      <img
        src="@/assets/images/eight-tree/cute_panda_boy.png"
        style="right: 9.5vw; bottom: 4.5vw; width: 22vw"
      />
    </div>
  </div>
</template>

<script>
import Slider from './Slider'

const arrowLeft = `<img src=${require('@/assets/images/eight-tree/arrow_left.png')}>`
const arrowRight = `<img src=${require('@/assets/images/eight-tree/arrow_right.png')}>`

export default {
  name: 'EightTreeSection7',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/71.png'),
        require('@/assets/images/eight-tree/72.png'),
        require('@/assets/images/eight-tree/73.png'),
        require('@/assets/images/eight-tree/74.png'),
        require('@/assets/images/eight-tree/75.png')
      ],
      arrowLeft,
      arrowRight
    }
  }
}
</script>

<style>
.bx-controls-direction a.bx-prev,
.bx-controls-direction a.bx-next {
  transform: unset;
  margin: 0;
}
.bx-controls-direction a.bx-prev {
  left: 0;
}
.bx-controls-direction a.bx-next {
  right: 0;
}
</style>
