<template>
  <div class="section six bg-grey mb-fix">
    <div
      v-if="$store.state.isVertical"
      :class="[
        'absolute',
        'w-100',
        'h-100',
        $store.state.priority === 'results' ? 'y-hidden' : ''
      ]"
      :style="{
        'background-image': `url( ${require('@/assets/images/eight-tree/blank_scene.png')} )`,
        'background-position': '120% 95%',
        'background-repeat': 'no-repeat',
        'background-size': '70vw, auto'
      }"
    >
      <div style="height: 12.5vw; padding-left: 32.5%" />
      <slider
        :images="images"
        :background-size="'cover'"
        :background-color="'#393536'"
        :controls-top="'80%'"
      />
      <div
        class="bg-yellow absolute w-30"
        style="height: 35vw; top: -2px; z-index: 1"
      >
        <div class="relative h-100" style="z-index: 1">
          <img
            src="@/assets/images/eight-tree/environment_3d_process.png"
            class="top-left-align-center"
            style="width: 70%"
          />
        </div>
      </div>
      <img
        src="@/assets/images/eight-tree/tcdraft.png"
        class="bottom"
        style="width: 70%; transform: rotate(90deg) translate(50%,45%); z-index: 1"
      />
      <p
        class="w-60 mx-10% mb-0 color-white font-gobold-light font-small text-justify leading-relaxed"
        style="min-width: 250px; padding-top: 7.5vw"
      >
        Creating all the elements to be used in the environment was a really
        long selection process. Having all the concept arts done we had a really
        wide set of options to work with. We wanted to create a beautiful and
        intriguing world without losing the simplicity that animation for
        children demands, so we had to look for a middle ground where we could
        include cute elements without over decorating the place.
      </p>
    </div>
    <div v-else>
      <div class="absolute h-100 w-100 row" style="padding-top: 10vw">
        <div
          class="relative h-100 w-40 text-right"
          :style="{
            'background-image': `url( ${require('@/assets/images/eight-tree/blank_scene.png')} )`,
            'background-position': '-160% 100%',
            'background-repeat': 'no-repeat',
            'background-size': '90%, auto'
          }"
        >
          <div class="non-absolute text-right">
            <img
              src="@/assets/images/eight-tree/environment_3d_process.png"
              class="border border-right border-yellow"
              style="height: 13.15vw;"
            />
          </div>
          <div class="non-absolute text-right mt-4">
            <img
              src="@/assets/images/eight-tree/sec6t1.png"
              style="left: 7.5vw; bottom: 10vw; width: 16.7vw"
            />
          </div>
        </div>
        <div class="relative h-100 w-60">
          <slider
            :images="images"
            :background-size="'cover'"
            :background-color="'#393536'"
            :bottom-controls-on-landscape="false"
            :height="'33vw'"
            :controls-top="'107.5%'"
            :controls-width="'10vw'"
            :left-anchor-style="{
              transform: 'scale(1.5, 0.25) translateX(-12.5%)'
            }"
            :right-anchor-style="{
              transform: 'scale(1.5, 0.25) translateX(12.5%)'
            }"
            class="col-8 offset-2"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection6',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/61.jpg'),
        require('@/assets/images/eight-tree/62.jpg'),
        require('@/assets/images/eight-tree/63.jpg'),
        require('@/assets/images/eight-tree/64.jpg'),
        require('@/assets/images/eight-tree/65.jpg'),
        require('@/assets/images/eight-tree/66.jpg'),
        require('@/assets/images/eight-tree/67.jpg')
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@media screen and (max-height: 991px) {
  .section.six {
    min-height: 580px;
    height: calc(100vw * 1.78);
  }
}
</style>
