<template>
  <div class="section nine mb-fix bg-b-white">
    <div v-if="$store.state.isVertical" class="non-absolute">
      <span class="yellow-marker d-inline-block" />
      <img
        src="@/assets/images/eight-tree/the_book.png"
        style="margin: 2.5% 5%; width: 35.15%"
        class="align-top"
      />
      <p class="mx-10% my-4 font-gobold-light text-justify bold">
        The book is their way to the magic world of 8tree island, like narnia's
        wardrove but less creepy, it allows the character to enter the magic
        island with only opening it at the right page. We created a 2d
        illustrated book showing some of the adventures of the kids in the
        island, and even tho we are not showing the book in depth for now we
        wanted to talk about the complexity of using a 2d illustrated pop up
        book in a 3d animation : bad idea
        <br /><br />
        Jokes apart we had a blast of fun creating the 2d version of the island
        props in this illustrated book and we want to show you some of the pages
        we did, and remind you to not even try it, seriously, don't
      </p>
      <slider
        :images="images"
        :background-size="'contain'"
        style="margin: 10% 0"
      />
      <img src="@/assets/images/eight-tree/mountains.png" class="w-100" />
    </div>
    <div v-else class="row h-100">
      <div
        class="relative w-50 h-100 cover"
        :style="{
          'background-image': `url( ${require('@/assets/images/eight-tree/bedroom_b.png')} )`
        }"
      >
        <slider
          :images="images"
          :background-size="'contain'"
          :height="'33.75vw'"
          :bottom-controls-style="{ marginTop: '1.5vw' }"
          class="top-left-align-center"
        />
      </div>
      <div class="relative w-50 h-100">
        <img
          src="@/assets/images/eight-tree/good_trick.png"
          class="translate-50"
          style="left: 60%; top: 10%; width: 20.5vw"
        />
        <img
          src="@/assets/images/eight-tree/sec9t1.png"
          style="left: 10%; top: 17.5%; width: 25.15vw"
        />
        <img
          src="@/assets/images/eight-tree/mountains.png"
          class="bottom"
          style="width: 127.5%"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection9',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/91-trim.png'),
        require('@/assets/images/eight-tree/92-trim.png'),
        require('@/assets/images/eight-tree/93-trim.png'),
        require('@/assets/images/eight-tree/94-trim.png'),
        require('@/assets/images/eight-tree/95-trim.png')
      ]
    }
  }
}
</script>
