<template>
  <div class="section three bg-grey mb-fix color-white minh-initial">
    <div v-if="$store.state.isVertical">
      <div
        class="relative d-flex flex-column justify-content-evenly align-items-center py-3"
        style="height: 125px"
      >
        <img
          src="@/assets/images/eight-tree/shark_draft.png"
          class="absolute top right"
          style="height: 165%; transform: scaleX(-1) rotate(15deg)"
        />
        <span class="w-80 d-flex justify-content-between mx-auto font-gobold">
          <span>T</span>
          <span>H</span>
          <span>E</span>
          <span>&nbsp;</span>
          <span>B</span>
          <span>E</span>
          <span>G</span>
          <span>I</span>
          <span>N</span>
          <span>N</span>
          <span>I</span>
          <span>N</span>
          <span>G</span>
        </span>
        <div class="w-60 bg-yellow h-line" />
        <span class="w-60 d-flex justify-content-between mx-auto font-gobold">
          <span>C</span>
          <span>H</span>
          <span>A</span>
          <span>R</span>
          <span>A</span>
          <span>C</span>
          <span>T</span>
          <span>E</span>
          <span>R</span>
        </span>
      </div>
      <slider
        :images="images"
        :background-size="'contain'"
        :background-color="'white'"
      ></slider>
      <p
        class="mx-10% mb-0 py-10vh font-gobold-light text-justify leading-relaxed"
      >
        Working on early concepts, we were asked to create human like animals,
        that could interact in some kind of 'Zootopian' world, the island
        natives are in fact animals that live in peace (most of the time) with
        each other.
        <br /><br />
        So we created a few rought concepts, first using puppet like characters
        to go along with a sloopy animation style but we were asked to go in a
        more child-frindly direction, so we thought of using animal onesies for
        the kids, that way they could transform into the animals when they get
        in touch with the island's magic
      </p>
    </div>
    <div v-else>
      <div class="absolute left w-55 h-100">
        <div class="relative h-100">
          <img
            src="@/assets/images/eight-tree/shark_draft.png"
            style="right: 10%; bottom: 15%; width: 40.5%"
          />
          <img
            src="@/assets/images/eight-tree/beginning.png"
            class="left-50 translateX-50"
            style="top: 10%; width: 40.5%"
          />
          <img
            src="@/assets/images/eight-tree/character.png"
            class="left-50 translateX-50"
            style="top: 20%; width: 27.5%"
          />
          <div
            class="absolute left-50 translateX-50 bg-yellow h-line"
            style="top: 23.75%; width: 30%;"
          ></div>
          <img
            src="@/assets/images/eight-tree/sec3t1.png"
            class="left-50 translateX-50"
            style="top: 30%; width: 32.5%"
          />
          <img
            src="@/assets/images/eight-tree/from_w.png"
            style="left: 20%; bottom: 10%; width: 35%"
          />
        </div>
      </div>
      <div class="absolute right w-45 h-100 bg-white">
        <div class="relative h-100">
          <slider
            :images="images"
            :background-size="'contain'"
            :height="'32.5vw'"
            :bottom-controls-black="true"
            class="top-left-align-center"
          ></slider>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection3',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/pc1.jpg'),
        require('@/assets/images/eight-tree/pc2.jpg'),
        require('@/assets/images/eight-tree/pc3.jpg'),
        require('@/assets/images/eight-tree/pc4.jpg'),
        require('@/assets/images/eight-tree/pc5.jpg'),
        require('@/assets/images/eight-tree/pc6.jpg'),
        require('@/assets/images/eight-tree/pc7.jpg')
      ]
    }
  }
}
</script>
