<template>
  <div class="section four bg-grey color-white">
    <div v-if="$store.state.isVertical" class="non-absolute">
      <img
        src="@/assets/images/eight-tree/concept_art.png"
        class="w-100"
        style="padding-top: 4%"
      />
      <span
        class="w-70 pt-4 pb-3 d-flex justify-content-between mx-auto font-gobold"
      >
        <span>T</span>
        <span>H</span>
        <span>E</span>
        <span>&nbsp;</span>
        <span>I</span>
        <span>S</span>
        <span>L</span>
        <span>A</span>
        <span>N</span>
        <span>D</span>
      </span>
      <div class="mx-auto bg-yellow h-line" style="width: 70%" />
      <slider
        :images="images"
        :background-size="'100% auto'"
        :slide-number="2"
      ></slider>
      <p
        class="mx-10% mb-0 pb-10vh font-gobold-light text-justify leading-relaxed"
      >
        This island holds a really diverse and creative ecosystem, the island is
        composed of 6 main environments: a mossy giant mountain, a swamp where
        the 8tree is, a desert located in the middle of the island, a tupid
        frutal forest, a big lake and a city that looks like a big dock.
        <br /><br />
        Having such a unique island structure allowed us to play with the
        landscape and the environment elements in a way that we just had to
        create 6 sets of props for the whole island.
      </p>
    </div>
    <div v-else>
      <div class="absolute left w-55 h-100">
        <div class="relative h-100">
          <img
            src="@/assets/images/eight-tree/the_island.png"
            class="left-50 translateX-50"
            style="top: 20%; width: 27.5%"
          />
          <div
            class="absolute left-50 translateX-50 bg-yellow h-line"
            style="top: 23.75%; width: 30%;"
          ></div>
          <img
            src="@/assets/images/eight-tree/sec4t1.png"
            class="left-50 translateX-50"
            style="top: 30%; width: 32.5%"
          />
        </div>
      </div>
      <div class="absolute right w-45 h-100 bg-white">
        <div class="relative h-100">
          <div
            class="absolute bg-yellow"
            style="width: 23.5%; height: 5.1vw; transform: translateY(-99%)"
          />
          <img
            src="@/assets/images/eight-tree/early_concepts.png"
            style="left: 23.5%; width: 76.5%; transform: translateY(-99%)"
          />
          <div class="h-100 bg-yellow" style="width: 23.5%;"></div>
          <div class="absolute w-80 top-left-align-center">
            <slider
              :images="images"
              :bottom-controls-style="{
                marginTop: '10px',
                paddingLeft: '35%'
              }"
              :bottom-controls-black="true"
              :height="'32.5vw'"
            />
          </div>
          <img
            src="@/assets/images/eight-tree/environment.png"
            style="left: 23.5%; bottom: 0; width: 76.5%"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection4',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/ti1.jpg'),
        require('@/assets/images/eight-tree/ti2.jpg'),
        require('@/assets/images/eight-tree/ti3.jpg'),
        require('@/assets/images/eight-tree/ti4.jpg'),
        require('@/assets/images/eight-tree/ti5.jpg'),
        require('@/assets/images/eight-tree/ti6.jpg'),
        require('@/assets/images/eight-tree/ti7.jpg'),
        require('@/assets/images/eight-tree/ti8.jpg')
      ]
    }
  }
}
</script>
