<template>
  <div class="section eight mb-fix bg-b-white">
    <div v-if="$store.state.isVertical" class="non-absolute">
      <img
        src="@/assets/images/eight-tree/the_char_world.png"
        style="margin: 10%; width: 85%"
      />
      <span class="yellow-marker absolute" style="top: 26vw" />
      <img
        src="@/assets/images/eight-tree/bubbas_bedroom.png"
        style="margin: 2% 16% 0; width: 60%"
      />
      <p class="mx-10% my-4 font-gobold-light text-justify bold">
        For Bubba’s room we wanted to make a really comfy space with alot of
        natural elements, since it’s time for him to visit the island his
        siblings tell him about all the amazing things on 8TREE ISLAND a give
        him drawings of the island that bubba likes to stick in his walls.
        <br /><br />
        We used Bubba's body to measure all the elements when we created the
        bedroom's scene, creating these kind of relations between measures makes
        everything have more harmony when interacting, plus you can say that the
        bedroom is 3 bubbas tall and that's really funny. (...it is, right?)
      </p>
      <slider :images="images" />
    </div>
    <div v-else>
      <div class="absolute w-100 h-100">
        <div
          class="w-50 absolute top h-100"
          :style="{
            'background-image': `url( ${require('@/assets/images/eight-tree/scene.png')} )`,
            'background-position': '-25% 100%',
            'background-repeat': 'no-repeat',
            'background-size': '80%, auto'
          }"
        >
          <div class="w-20 h-100 bg-yellow" />
          <div
            class="bg-yellow"
            style="position: absolute; left: 42.42vw; top: 9.1vw; width: 1px; height: 58.4vw; border-left: 1px solid #F3DFB2"
          ></div>
          <img
            src="@/assets/images/eight-tree/8tree_world.png"
            style="left: 12.1vw; top: 9.1vw; width: 27.97vw"
          />
          <div
            class="absolute non-absolute text-right translateX-50"
            style="top: 17.5vw; left: 53%; width: 23vw"
          >
            <img
              src="@/assets/images/eight-tree/sec8t1.png"
              style="width: 100%"
            />
            <img
              src="@/assets/images/eight-tree/from_w.png"
              style="right: 9.5vw; bottom: 5.5vw; width: 22vw"
            />
          </div>
        </div>
        <div class="w-50 absolute right top">
          <slider
            :mode="'fade'"
            :images="images"
            :height="'calc(100vw * 0.5625)'"
            :bottom-controls-justify="'around'"
            :bottom-controls-style="{ transform: 'translateY(-7.5vw)' }"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'EightTreeSection8',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/eight-tree/81.jpg'),
        require('@/assets/images/eight-tree/82.jpg'),
        require('@/assets/images/eight-tree/83.jpg'),
        require('@/assets/images/eight-tree/84.jpg'),
        require('@/assets/images/eight-tree/85.jpg')
      ]
    }
  }
}
</script>
