<template>
  <div class="section two minh-initial">
    <div v-if="$store.state.isVertical">
      <div class="w-100 non-absolute" style="height: 21vw">
        <img
          src="@/assets/images/eight-tree/8tree_island.png"
          style="width: 100%"
        />
      </div>
      <div>
        <span class="d-block mx-10% pt-4 pb-3 font-gobold bold text-right">
          WHAT'S 8TREE ISLAND?
        </span>
        <p
          class="mx-10% mb-0 pb-4 font-gobold-uplow text-justify leading-relaxed"
        >
          8tree is a magic place in a island named after the eight trees that
          together looks like a giant tree, the island is a place where you can
          learn, play and grow being in touch with a lot of diversity, fun and
          good music! The animated serie's target are both chidrens and adults,
          combining exciting and original graphics with some top quality music
          production that can be listened by grown ups.
        </p>
        <div class="mx-10% bg-yellow h-line relative">
          <img
            src="@/assets/images/eight-tree/3d.png"
            class="absolute"
            style="left: 50%; width: 22vw; transform: translate(-50%,-39%)"
          />
        </div>
        <span class="d-block mx-10% pt-4 pb-3 font-gobold bold">
          THE ISLAND'S ORIGIN
        </span>
        <p
          class="mx-10% mb-0 pb-4 font-gobold-uplow text-justify leading-relaxed"
        >
          The whole concept was conceived by Yogi Yeend and the main characters
          in this lovely story were made using his three childrens as
          inspiration, Pippi (the older artistic caretaker), coco (determinated
          and smart middle one), and Bubba (the playful hunger youngest one).
          The whole series show us their biggest adventures on the island, and
          each chapters seeks to reveal a bit of the island throught a new
          adventure.
        </p>
      </div>
    </div>
    <div v-else>
      <img
        src="@/assets/images/eight-tree/3d.png"
        style="right: 2.12vw; top: 13.6vw; width: 16.2vw"
      />
      <img
        src="@/assets/images/eight-tree/2018_b.png"
        style="right: 12.4vw; top: 24vw; width: 0.78vw"
      />
      <img
        src="@/assets/images/eight-tree/8tree_island.png"
        style="width: 100%"
      />
      <img
        src="@/assets/images/eight-tree/from_wu.png"
        style="right: 14vw; top: 9.1vw; width: 22.1vw"
      />
      <img
        src="@/assets/images/eight-tree/3d_for_child.png"
        style="left: 10vw; width: 1.7vw"
      />
      <div class="absolute bottom w-100" style="height: 62.5%">
        <div class="relative h-100">
          <img
            src="@/assets/images/eight-tree/sec2t1.png"
            style="left: 35%; top: 50%; width: 25.15%; transform: translate(-50%,-50%)"
          />
          <img
            src="@/assets/images/eight-tree/sec2t2.png"
            style="left: 65%; top: 50%; width: 27.27%; transform: translate(-50%,-50%)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EightTreeSection2'
}
</script>
