<template>
  <div style="width: 100%">
    <ul :style="{ height }" class="p-0"></ul>
    <div
      v-if="!$store.state.isVertical && bottomControlsOnLandscape"
      :class="['d-flex', bottomControlsJustifyClass]"
      :style="[
        'position: relative, width: 100%, z-index: 1',
        bottomControlsStyle
      ]"
    >
      <a href="#" @click="goToPrev">
        <img
          :src="
            bottomControlsBlack
              ? `${require('@/assets/images/eight-tree/previous_b.png')}`
              : `${require('@/assets/images/eight-tree/previous.png')}`
          "
        />
      </a>
      <a href="#" @click="goToNext">
        <img
          :src="
            bottomControlsBlack
              ? `${require('@/assets/images/eight-tree/next_b.png')}`
              : `${require('@/assets/images/eight-tree/next.png')}`
          "
        />
      </a>
    </div>
  </div>
</template>

<script>
import { setTimeout } from 'timers'
const arrowRight =
  "<img src='" +
  require('@/assets/images/eight-tree/arrow_right.png') +
  "' style='transform: scaleY(2.75) scaleX(0.45)'>"
const arrowLeft =
  "<img src='" +
  require('@/assets/images/eight-tree/arrow_left.png') +
  "' style='transform: scaleY(2.75) scaleX(0.45)'>"

export default {
  name: 'EightTreeSlider',
  props: {
    mode: {
      type: String,
      default: 'horizontal'
    },
    images: {
      type: Array,
      default: () => []
    },
    infiniteLoop: {
      type: Boolean,
      default: false
    },
    hideControlOnEnd: {
      type: Boolean,
      default: true
    },
    slideNumber: {
      type: Number,
      default: 1
    },
    height: {
      type: String,
      default: '85.618vw'
    },
    backgroundColor: {
      type: String,
      default: 'transparent'
    },
    wrapperStyle: {
      type: Object,
      default: () => {}
    },
    backgroundSize: {
      type: String,
      default: 'cover'
    },
    leftAnchorStyle: {
      type: Object,
      default: () => {}
    },
    rightAnchorStyle: {
      type: Object,
      default: () => {}
    },
    arrowLeft: {
      type: String,
      default: arrowLeft
    },
    arrowRight: {
      type: String,
      default: arrowRight
    },
    controlsTop: {
      type: String,
      default: '50%'
    },
    controlsWidth: {
      type: String,
      default: '10.68vw'
    },
    bottomControlsOnLandscape: {
      type: Boolean,
      default: true
    },
    bottomControlsJustify: {
      type: String,
      default: 'center'
    },
    bottomControlsStyle: {
      type: Object,
      default: () => {}
    },
    bottomControlsBlack: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      slider: undefined
    }
  },
  computed: {
    bottomControlsJustifyClass() {
      return 'justify-content-' + this.bottomControlsJustify
    }
  },
  mounted() {
    setTimeout(() => {
      this.initialize()
    }, 1250)
  },
  methods: {
    goToNext: function() {
      this.slider.goToNextSlide()
    },
    goToPrev: function() {
      this.slider.goToPrevSlide()
    },
    initialize: function() {
      const root = $(this.$el)
      const ul = this.$el.querySelector('ul')
      const slideWidth =
        this.slideNumber === 1 ? undefined : ul.offsetWidth / this.slideNumber

      this.images.forEach((element) => {
        const li = document.createElement('li')
        li.style.backgroundImage = 'url(' + element + ')'
        li.style.backgroundSize = this.backgroundSize
        li.style.backgroundPosition = 'center'
        ul.appendChild(li)
      })

      const addArrows = this.$store.state.isVertical
        ? true
        : !this.bottomControlsOnLandscape

      this.slider = $(ul).bxSlider({
        mode: this.mode,
        pager: false,
        infiniteLoop: this.infiniteLoop,
        hideControlOnEnd: !this.infiniteLoop && this.hideControlOnEnd,
        nextText: addArrows ? this.arrowRight : '',
        prevText: addArrows ? this.arrowLeft : '',
        minSlides: this.slideNumber,
        maxSlides: this.slideNumber,
        slideWidth
      })

      if (this.wrapperStyle) {
        $(root)
          .find('.bx-wrapper')
          .css(this.wrapperStyle)
      }

      $(root)
        .find('.bx-viewport')
        .css({
          backgroundColor: this.backgroundColor
        })

      $(root)
        .find('.bx-controls-direction a')
        .css({
          position: 'absolute',
          top: this.controlsTop,
          width: this.controlsWidth
        })

      if (this.leftAnchorStyle) {
        $(root)
          .find('.bx-controls-direction a.bx-prev')
          .css(this.leftAnchorStyle)
      }
      if (this.rightAnchorStyle) {
        $(root)
          .find('.bx-controls-direction a.bx-next')
          .css(this.rightAnchorStyle)
      }
    }
  }
}
</script>
