<template>
  <div class>
    <img :src="textSrc" class="text" />
    <div class="relative mt-4">
      <div
        class="absolute w-100 bg-gold top-50 translateY-50"
        style="height: 25px; z-index: -1"
      />
      <img :src="src" class="w-50" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pilows',
  props: {
    title: {
      type: String,
      default: ''
    },
    src: {
      type: String,
      default: ''
    },
    textSrc: {
      type: String,
      default: ''
    }
  }
}
</script>
