<template>
  <div class="section eight y-hidden" style="height: 38vw">
    <!-- PORTRAIT -->
    <div
      v-if="$store.state.isVertical"
      class="relative"
      style="min-height: 60vw;"
    >
      <img
        src="@/assets/images/niiv/1.png"
        style="margin-top: 30vw; width: 100%"
      />
      <img
        src="@/assets/images/niiv/33.png"
        class="position-absolute left-50 top-25 translate-50 w-25"
      />
      <img
        src="@/assets/images/niiv/34.png"
        class="position-absolute left-50 translate-50 w-80"
        style="top: 37.5%"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else class="relative">
      <img
        src="@/assets/images/niiv/1.png"
        style="margin-top: 2.5vw; width: 100%"
      />
      <img
        src="@/assets/images/niiv/33.png"
        class="left-50 top-25 translate-50"
        style="width: 10.25vw"
      />
      <img
        src="@/assets/images/niiv/34.png"
        class="left-50 translate-50 w-70"
        style="top: 41%"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection8'
}
</script>
