<template>
  <div class="section seven">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <div class="relative my-4">
        <img src="@/assets/images/niiv/blank_space.png" class="w-90" />
        <img
          src="@/assets/images/niiv/53.png"
          class="w-10 position-absolute left-50 translateX-50"
          style="top: 15vw"
        />
      </div>
      <img src="@/assets/images/niiv/54.png" class="text mb-3" />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/blank_space.png"
        style="left: 50%; top: 55%; width: 89.42vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/53.png"
        style="left: 50%; top: 50%; width: 4.1vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/54.png"
        style="left: 50%; top: 75%; width: 30.15vw; transform: translate(-50%,-50%)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection7'
}
</script>

<style scoped>
@media screen and (max-width: 991px) {
  #niiv div.section.seven {
    min-height: initial;
  }
}
</style>
