<template>
  <div class="section nine" style="z-index: 1">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical" style="margin-top: 21.5vw">
      <img src="@/assets/images/niiv/1.png" class="w-100" />
      <img
        src="@/assets/images/niiv/8.png"
        class="position-absolute left"
        style="top: 55vw; width: 60.625vw; transform: translateX(-54%); z-index: -1"
      />
      <img
        src="@/assets/images/niiv/pun.png"
        class="position-absolute"
        style="left: 17vw; top: 53vw; width: 18.5vw"
      />
      <img src="@/assets/images/niiv/3.png" class="text mt-4" />
      <img src="@/assets/images/niiv/2.png" class="text mt-5" />
      <img
        src="@/assets/images/niiv/madeit.png"
        class="position-absolute"
        style="right: 5.5%; top: 67.5vw; width: 17vw; transform: translateX(-50%); transform: rotate(58deg)"
      />
      <img
        src="@/assets/images/niiv/why_not.png"
        class="position-absolute"
        style="right: 2.5%; top: 122vw; width: 16vw"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img src="@/assets/images/niiv/1.png" style="top: 21.5vw; width: 100%" />
      <img
        src="@/assets/images/niiv/3.png"
        style="left: 32.5%; top: 22.25vw; width: 25.625vw; transform: translateX(-50%)"
      />
      <img
        src="@/assets/images/niiv/2.png"
        style="left: 67.5%; top: 22.25vw; width: 25.625vw; transform: translateX(-50%)"
      />
      <img
        src="@/assets/images/niiv/madeit.png"
        style="left: 40.5%; top: 18.5vw; width: 6vw; transform: translateX(-50%); transform: rotate(58deg)"
      />
      <img
        src="@/assets/images/niiv/why_not.png"
        style="left: 69%; top: 19vw; width: 6vw; transform: translateX(-50%)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection9'
}
</script>

<style scoped>
@media screen and (max-width: 991px) {
  #niiv div.section.nine {
    min-height: initial;
  }
}
</style>
