<template>
  <div class="section eleven">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <img src="@/assets/images/niiv/10.png" class="text w-80" />
      <img src="@/assets/images/niiv/11.png" class="text w-90 my-5" />
      <img src="@/assets/images/niiv/9.png" class="text" />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/9.png"
        style="left: 25vw; bottom: 31vw; width: 25vw"
      />
      <img
        src="@/assets/images/niiv/10.png"
        style="right: 10vw; bottom: 16vw; width: 31vw"
      />
      <img
        src="@/assets/images/niiv/11.png"
        style="right: 7.5vw; bottom: 9vw; width: 36.5vw"
      />
      <img
        src="@/assets/images/niiv/pun.png"
        style="left: 16vw; bottom: 2vw; width: 13vw"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection11'
}
</script>

<style scoped></style>
