<template>
  <div class="section sixteen">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <img
        src="@/assets/images/niiv/29.png"
        class="w-70 mt-5"
        style="box-shadow: 4px 4px 10px -5px black"
      />
      <img
        src="@/assets/images/niiv/28.png"
        style="position: absolute; top: 3rem; width: 2.8vw; left: 10%"
      />
      <img src="@/assets/images/niiv/30.png" class="text mt-5" />
      <div class="relative mt-4">
        <div
          class="absolute w-100 bg-gold top-50 translateY-50"
          style="height: 50px; z-index: -1"
        />
        <img src="@/assets/images/niiv/31.png" class="text" />
      </div>
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <div
        class="bg-gold"
        style="position: absolute; width: 100%; height: 12.7vw; top: 28.5vw"
      ></div>
      <img
        src="@/assets/images/niiv/28.png"
        style="left: 14.5vw; top: 4.2vw; width: 0.73vw"
      />
      <img
        src="@/assets/images/niiv/29.png"
        style="left: 16vw; top: 4.2vw; width: 27.9vw"
      />
      <img
        src="@/assets/images/niiv/30.png"
        style="left: 55.45vw; top: 7.27vw; width: 24.24vw"
      />
      <div
        style="position: absolute; top: 22.8vw; width: 100%; height: 43.85vw; overflow-x: hidden;"
      >
        <img
          src="@/assets/images/niiv/31.png"
          style="left: 41.3vw; width: 73.5vw"
        />
      </div>
      <a
        href="https://www.niiv.com.ar"
        title="NIIV"
        target="_blank"
        style="position: absolute; left: 55.4vw; top:25.6vw; width: 5.1vw; height: 2.56vw"
      ></a>
      <img
        src="@/assets/images/niiv/click.png"
        style="left: 49.8vw; top: 19.3vw; width: 5.64vw"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection16'
}
</script>
