<template>
  <div class="section twelve">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <img
        src="@/assets/images/niiv/16.png"
        style="position: absolute; width: 4vw; left: 6%; top: 5vw"
      />
      <img
        src="@/assets/images/niiv/12.png"
        style="position: relative; width: 105vw; margin: 15vw 5vw 5vw"
      />
      <div class="d-flex justify-content-around mr-3" style="height: 20vw">
        <div class="relative" style="width: 27.5%">
          <img src="@/assets/images/niiv/13.png" class="mh-100" />
          <img
            src="@/assets/images/niiv/15_a.png"
            class="position-absolute right bottom w-100"
            style="transform: translateY(60%);"
          />
        </div>
        <div class="relative w-40">
          <img src="@/assets/images/niiv/14.png" class="mh-100" />
          <img
            src="@/assets/images/niiv/15_b.png"
            class="position-absolute right w-100"
            style="bottom: 0; transform: translateY(67.5%);"
          />
        </div>
      </div>
      <img
        src="@/assets/images/niiv/17.png"
        style="position: absolute; left: 3vw; bottom: 3vw; width: 45vw"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/16.png"
        style="left: 9.2vw; bottom: 34.2vw; width: 0.79vw"
      />
      <img
        src="@/assets/images/niiv/13.png"
        style="right: 57.8vw; bottom: 34.2vw; width: 7.58vw"
      />
      <img
        src="@/assets/images/niiv/14.png"
        style="right: 57.8vw; bottom: 17.2vw; width: 10vw"
      />
      <img
        src="@/assets/images/niiv/15.png"
        style="right: 57.8vw; top: 19.85vw; width: 9.65vw"
      />
      <img
        src="@/assets/images/niiv/12.png"
        style="right: 0 ; top: 2.53vw; width: 48vw"
      />
      <img
        src="@/assets/images/niiv/illuminatis.png"
        style="right: 13.5vw; top: 6vw; width: 6.58vw; transform: rotate(58deg)"
      />
      <img
        src="@/assets/images/niiv/17.png"
        style="left: 13.15vw; bottom: 5vw; width: 16.9vw"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection12'
}
</script>
