<template>
  <div class="section six bg-gold">
    <!-- PORTRAIT -->
    <div
      v-if="$store.state.isVertical"
      class="force-h-100 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="@/assets/images/niiv/51_a.png" class="text" />
      <img src="@/assets/images/niiv/50.png" class="w-90 my-5" />
      <img src="@/assets/images/niiv/51_b.png" class="text" />
      <img
        src="@/assets/images/niiv/52.png"
        class="w-70 position-absolute bottom right mr-2 mb-2"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/50.png"
        style="left: 50%; top: 35%; width: 88.38vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/51.png"
        style="left: 50%; top: 67.5%; width: 52.28vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/52.png"
        style="left: 25%; top: 90%; width: 23.3vw; transform: translate(-50%,-50%)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection6'
}
</script>
