<template>
  <div class="section ten">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <div
        :style="{
          backgroundImage: `url(${require('@/assets/images/niiv/4.png')})`,
          backgroundSize: '220% auto',
          backgroundPosition: '23% 12%',
          height: '60vw',
          position: 'relative'
        }"
      >
        <img
          src="@/assets/images/niiv/logo.gif"
          class="position-absolute top-left-align-center w-60"
        />
      </div>
      <img src="@/assets/images/niiv/5_a.png" class="text mt-5" />
      <img
        src="@/assets/images/niiv/7.png"
        class="w-45 my-5"
        style="display: block; position: relative; right: -52%;"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/8.png"
        style="top: 34vw; width: 60.625vw; transform: translateX(-50%)"
      />
      <img
        src="@/assets/images/niiv/5.png"
        style="left: 13.75vw; bottom: 11.5vw; width: 30.52vw"
      />
      <img
        src="@/assets/images/niiv/6.png"
        style="right: 10vw; bottom: 11vw; width: 38.4375vw"
      />
      <img
        src="@/assets/images/niiv/7.png"
        style="right: 11vw; bottom: 5vw; width: 18.5vw"
      />
      <img
        src="@/assets/images/niiv/logo.gif"
        style="top: 12vw; left: 16vw; width: 24vw"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection10'
}
</script>

<style scoped>
@media screen and (max-width: 991px) {
  #niiv div.section.ten {
    min-height: initial;
  }
}
</style>
