<template>
  <div class="section fiveteen" style="margin-top: -10.375vw"></div>
</template>

<script>
export default {
  name: 'NiivSection15'
}
</script>

<style scoped>
#niiv div.section.fiveteen {
  height: calc(100vw * 0.77);
  background-image: url('../../assets/images/niiv/27.png');
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  #niiv div.section.fiveteen {
    min-height: initial;
    height: calc(100vw * 2 / 3.1);
    background-size: 100% auto;
    background-position: center;
  }
}
</style>
