<template>
  <div class="section five">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <pilow
        :text-src="`${require('@/assets/images/niiv/49_a.png')}`"
        :src="`${require('@/assets/images/niiv/48_a.png')}`"
      />
      <pilow
        :text-src="`${require('@/assets/images/niiv/49_b.png')}`"
        :src="`${require('@/assets/images/niiv/48_b.png')}`"
        class="my-5"
      />
      <pilow
        :text-src="`${require('@/assets/images/niiv/49_c.png')}`"
        :src="`${require('@/assets/images/niiv/48_c.png')}`"
        class="my-5"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <div
        class="bg-gold"
        style="position: absolute; top: 40%; width: 100%; height: 2.45vw; transform: translateY(-50%)"
      />
      <img
        src="@/assets/images/niiv/48.png"
        style="left: 50%; top: 35%; width: 86.5vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/49.png"
        style="left: 50%; top: 75%; width: 79vw; transform: translate(-50%,-50%)"
      />
    </div>
  </div>
</template>

<script>
import Pilow from './Pilow'
export default {
  name: 'NiivSection5',
  components: {
    Pilow
  }
}
</script>
