<template>
  <div v-show="$store.state.isVertical" class="section two">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical" style="padding-bottom: 21.5vw" />
    <!-- LANDSCAPE -->
    <div v-else>
      <!-- <img src="@/assets/images/niiv/1.png" style="top: 21.5vw; width: 100%" /> -->
      <!-- <img
        src="@/assets/images/niiv/33.png"
        style="width: 10.25vw; left: 50%; top: 50%; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/34.png"
        style="width: 59vw; left: 50%; top: 58%; transform: translate(-50%,-50%);"
      /> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection2'
}
</script>

<style scoped>
@media screen and (max-width: 991px) {
  #niiv div.section.two {
    min-height: initial;
  }
}
</style>
