<template>
  <div class="section three">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <img src="@/assets/images/niiv/35.png" class="text" />
      <div class="h-line bg-gold my-4" />
      <img src="@/assets/images/niiv/36_1.png" class="text" />
      <img
        class="position-absolute bottom right mr-2 w-40"
        src="@/assets/images/niiv/46.png"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img
        src="@/assets/images/niiv/35.png"
        style="left: 9.7vw; bottom: 10vw; width: 25.88vw"
      />
      <img
        src="@/assets/images/niiv/36.png"
        style="left: 42.72vw; bottom: 10vw; width: 25.1vw"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection3'
}
</script>

<style lang="scss">
#niiv div.section.three {
  @media screen and (min-width: 992px) {
    height: calc(100vw * 0.4625);
  }
}
</style>
