<template>
  <div
    style="min-height: initial; height: initial; padding-top: 12.5vw; padding-bottom: 15vw"
    class="section fourteen bg-gold"
  >
    <div class="relative non-absolute d-flex justify-content-center w-100">
      <div
        class="absolute top w-100 bg-white"
        style="height: 8.75vw; max-height: 55px"
      />
      <img
        src="@/assets/images/niiv/sec14_1.png"
        style="max-width: 559px; max-height: 627px; height: auto; z-index: 1"
        class="w-90"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection14'
}
</script>
