<template>
  <div class="section four">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical">
      <img
        src="@/assets/images/niiv/37_1.png"
        class="position-absolute left w-100"
        style="z-index: -1"
      />
      <img src="@/assets/images/niiv/42.png" class="text mt-4" />
      <img
        src="@/assets/images/niiv/39.png"
        class="horizontal-align-self w-40"
        style="top: 45vw"
      />
      <img src="@/assets/images/niiv/41.png" class="text mt-5" />
      <img
        src="@/assets/images/niiv/40.png"
        class="horizontal-align-self"
        style="top: 52.5vw; width: 14.5vw"
      />
      <slider
        :mode="'fade'"
        :images="images"
        :height="'97vw'"
        :background-size="'contain'"
        :controls-top="'58%'"
        :display-controls="false"
        :infinite-loop="true"
        class="text relative"
        style="margin-top: 50vw"
      />
      <img
        src="@/assets/images/niiv/45.png"
        style="left: 10%; top: 80%; width: 80vw"
        class="position-absolute"
      />
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <img src="@/assets/images/niiv/37.png" style="height: 100%" />
      <img
        src="@/assets/images/niiv/38.png"
        style="left: 3.94vw; top: 7.26vw; width: 1.04vw"
      />
      <img
        src="@/assets/images/niiv/39.png"
        style="left: 25%; top: 40%; width: 17.44vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/40.png"
        style="left: 24.75%; top: 40%; width: 5.42vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/41.png"
        style="left: 25%; top: 62.5%; width: 36.4vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/42.png"
        style="left: 25%; top: 75%; width: 30.68vw; transform: translate(-50%,-50%)"
      />
      <img
        src="@/assets/images/niiv/43.png"
        style="left: 57.88vw; top: 13vw; width: 12.44vw"
      />
      <img
        src="@/assets/images/niiv/45.png"
        style="left: 59.5%; top: 65%; width: 31vw"
      />
      <slider
        :mode="'fade'"
        :images="images"
        :height="'35.84vw'"
        :background-size="'contain'"
        :controls-top="'58%'"
        :display-controls="false"
        :infinite-loop="true"
        style="position: absolute; left: 57.88vw; top: 15.5vw; width: 32.3vw"
      />
      <img
        src="@/assets/images/niiv/46.png"
        style="right: 13vw; bottom: 4.5vw; width: 15.2vw"
      />
    </div>
  </div>
</template>

<script>
import Slider from './Slider'
export default {
  name: 'NiivSection4',
  components: { Slider },
  data() {
    return {
      images: [
        require('@/assets/images/niiv/sec4_1.png'),
        require('@/assets/images/niiv/sec4_2.png'),
        require('@/assets/images/niiv/sec4_3.png')
      ]
    }
  }
}
</script>
