<template>
  <div class="section thirdteen">
    <!-- PORTRAIT -->
    <div v-if="$store.state.isVertical" class="py-5 d-flex align-items-center">
      <div class="w-100 d-flex justify-content-center">
        <img
          src="@/assets/images/niiv/20_a.png"
          style="width: 6vw"
          class="align-self-end mr-3"
        />
        <img src="@/assets/images/niiv/19.png" style="width: 36.5vw" />
      </div>
    </div>
    <!-- LANDSCAPE -->
    <div v-else>
      <!-- Agregado +9 al bottom -->
      <img
        src="@/assets/images/niiv/20.png"
        style="left: 10vw; bottom: 14.13vw; width: 18vw"
      />
      <img
        src="@/assets/images/niiv/19.png"
        style="right: 34vw; bottom: 14.13vw; width: 15.2vw; "
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'NiivSection13'
}
</script>

<style scoped>
#niiv div.section.thirdteen {
  background-image: url('../../assets/images/niiv/18.png');
  background-size: cover;
}
@media screen and (max-width: 991px) {
  #niiv div.section.thirdteen {
    min-height: initial;
  }
}
</style>
