<template>
  <div style="width: 100%">
    <ul :style="{ height }" class="p-0" />
  </div>
</template>

<script>
const arrowRight =
  "<img src='" + require('@/assets/images/drco/arrow_yellow.png') + "' >"
const arrowLeft =
  "<img src='" + require('@/assets/images/drco/arrow_yellow_left.png') + "' >"

export default {
  name: 'NIIVSlider',
  props: {
    mode: {
      type: String,
      default: 'horizontal'
    },
    images: {
      type: Array,
      default: () => []
    },
    infiniteLoop: {
      type: Boolean,
      default: false
    },
    hideControlOnEnd: {
      type: Boolean,
      default: true
    },
    slideNumber: {
      type: Number,
      default: 1
    },
    height: {
      type: String,
      default: '100%'
    },
    backgroundColor: {
      type: String,
      default: 'transparent'
    },
    wrapperStyle: {
      type: Object,
      default: () => ({
        maxWidth: '100%'
      })
    },
    backgroundSize: {
      type: String,
      default: 'cover'
    },
    leftAnchorStyle: {
      type: Object,
      default: () => {}
    },
    rightAnchorStyle: {
      type: Object,
      default: () => {}
    },
    arrowLeft: {
      type: String,
      default: arrowLeft
    },
    arrowRight: {
      type: String,
      default: arrowRight
    },
    displayControls: {
      type: Boolean,
      default: true
    },
    controlsTop: {
      type: String,
      default: '50%'
    },
    controlsWidth: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      slider: undefined
    }
  },
  computed: {
    bottomControlsJustifyClass() {
      return 'justify-content-' + this.bottomControlsJustify
    }
  },
  mounted() {
    const root = $(this.$el)
    const ul = this.$el.querySelector('ul')

    this.images.forEach((element) => {
      const li = document.createElement('li')
      li.style.backgroundImage = 'url(' + element + ')'
      li.style.backgroundSize = this.backgroundSize
      li.style.backgroundPosition = 'center'
      li.style.backgroundRepeat = 'no-repeat'
      ul.appendChild(li)
    })

    this.slider = $(ul).bxSlider({
      mode: this.mode,
      pager: false,
      infiniteLoop: this.infiniteLoop,
      hideControlOnEnd: !this.infiniteLoop && this.hideControlOnEnd,
      nextText: this.displayControls ? this.arrowRight : '',
      prevText: this.displayControls ? this.arrowLeft : '',
      minSlides: this.slideNumber,
      maxSlides: this.slideNumber
    })

    if (this.wrapperStyle) {
      $(root)
        .find('.bx-wrapper')
        .css(this.wrapperStyle)
    }

    $(root)
      .find('.bx-viewport')
      .css({
        backgroundColor: this.backgroundColor
      })

    $(root)
      .find('.bx-controls-direction a')
      .css({
        position: 'absolute',
        top: this.controlsTop,
        width: this.controlsWidth
      })

    if (this.leftAnchorStyle) {
      $(root)
        .find('.bx-controls-direction a.bx-prev')
        .css(this.leftAnchorStyle)
    }
    if (this.rightAnchorStyle) {
      $(root)
        .find('.bx-controls-direction a.bx-next')
        .css(this.rightAnchorStyle)
    }

    $(ul)
      .find('li')
      .css({ width: '100%' })
  },
  methods: {
    goToNext: function() {
      this.slider.goToNextSlide()
    },
    goToPrev: function() {
      this.slider.goToPrevSlide()
    }
  }
}
</script>
