<template>
  <div id="app" :class="priorityClass">
    <app-layout>
      <nuxt />
    </app-layout>
  </div>
</template>

<script>
/* eslint no-extend-native: 0 */

import * as MutationType from '@/store/mutation_types'
import AppLayout from '@/components/AppLayout'

Number.prototype.clamp = function(min, max) {
  return Math.min(Math.max(this, min), max)
}

export default {
  name: 'DefaultLayout',
  components: { AppLayout },
  computed: {
    priorityClass() {
      return this.$store.state.priority === 'process' ? 'process' : 'results'
    }
  },
  watch: {
    $route(to, from) {
      this.adjustLayout(to, from)
    }
  },
  beforeMount() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
    this.adjustLayout(this.$route.path)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize: function() {
      this.$store.commit(MutationType.SET_WINDOW_SIZE, window.innerWidth)
    },
    adjustLayout: function(to, from) {
      const lowerCase = this.isString(to)
        ? to.toLowerCase()
        : to.path.toLowerCase()

      this.$store.commit(MutationType.SET_LOGO_VISIBLE, lowerCase === '/home')
      setTimeout(
        () => this.$store.commit(MutationType.SET_MENU_VISIBLE, false),
        400
      )
      if (lowerCase === '/') {
        this.$store.commit(MutationType.SET_LAYOUT_VISIBLE, false)
      } else {
        this.$store.commit(MutationType.SET_LAYOUT_VISIBLE, true)
      }
    },
    isString(value) {
      return typeof value === 'string' || value instanceof String
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
</style>
