<template>
  <div id="about" :style="bgPosition">
    <transition name="fade">
      <div v-if="text.length > 0" class="text-float" :style="textFloatStyle">
        <a :href="text[0].url" target="_blank">
          <span>
            <img :src="text[0].img" style="max-width: 100%" />
          </span>
        </a>
      </div>
    </transition>
    <div :class="['cursor', imageType]" :style="cursor">
      <div
        id="reveal"
        :class="[imageType]"
        :style="{ ...reveal, ...bgPosition }"
      />
    </div>
    <div v-if="instance === undefined" class="links">
      <a
        v-for="(item, index) in texts"
        :key="index"
        target="_blank"
        :href="item.url"
        :style="{
          left: item.position.x + 'px',
          top: item.position.y + 'px',
          width: item.position.width + 'px',
          height: item.position.height + 'px'
        }"
        @click="emit(item.emit)"
      />
    </div>
    <div id="nipple" />
    <a class="icon-wrapper bottom-left" @click="toggleUV">
      <img
        v-show="$store.state.priority === 'process' && !isUV"
        src="@/assets/images/about/candle_process.png"
      />
      <img
        v-show="$store.state.priority === 'process' && isUV"
        src="@/assets/images/about/light_process.png"
      />
      <img
        v-show="$store.state.priority === 'results' && !isUV"
        src="@/assets/images/about/candle_results.png"
      />
      <img
        v-show="$store.state.priority === 'results' && isUV"
        src="@/assets/images/about/light_results.png"
      />
    </a>
    <!-- <gallery :open="showGallery" /> -->
  </div>
</template>

<script>
import { setInterval, clearInterval } from 'timers'
import nipplejs from 'nipplejs'
// import Gallery from '@/components/gallery'
import normalTexts from '@/assets/js/about-normal-text'
import uvTexts from '@/assets/js/about-uv-text'

const originalImage = {
  w: 1920,
  h: 1080
}

export default {
  name: 'About',
  // components: { Gallery },
  // watchQuery: ['show_gallery'],
  data() {
    return {
      intMouseX: 0,
      intMouseY: 0,
      cursorSize: 0,
      appSize: {
        w: 0,
        h: 0
      },
      isUV: false,
      sensitive: 4,
      maxForce: 1.75,
      normalTexts,
      uvTexts,
      bgPositionX: 50,
      bgPositionY: 50,
      movX: undefined,
      movY: undefined,
      reqId: undefined,
      interval: undefined,
      instance: undefined,
      mouseP: {},
      $_mouseP: {},
      showGallery: false
    }
  },
  computed: {
    relativeImage() {
      const originalRatio = originalImage.w / originalImage.h
      const customRatio = this.appSize.w / this.appSize.h
      if (originalRatio > customRatio) {
        return { w: this.appSize.h * originalRatio, h: this.appSize.h }
      } else {
        return { w: this.appSize.w, h: this.appSize.w / originalRatio }
      }
    },
    startX() {
      const percent = this.bgPositionX / 100
      const start = this.appSize.w
      return (this.relativeImage.w - start) * percent
    },
    startY() {
      const percent = this.bgPositionY / 100
      const start = this.appSize.h
      return (this.relativeImage.h - start) * percent
    },
    texts() {
      const ratioW = this.relativeImage.w / originalImage.w
      const ratioH = this.relativeImage.h / originalImage.h
      const texts = this.isUV ? this.uvTexts : this.normalTexts
      return texts.map((v) => ({
        ...v,
        position: {
          x: v.position.x * ratioW - this.startX,
          y: v.position.y * ratioH - this.startY,
          w: v.position.w * ratioW - this.startX,
          h: v.position.h * ratioH - this.startY,
          width: (v.position.w - v.position.x) * ratioW,
          height: (v.position.h - v.position.y) * ratioH
        }
      }))
    },
    text() {
      const [posX, posY] = [this.mouseX, this.mouseY]
      return this.texts.filter(
        (v) =>
          posX >= v.position.x &&
          posX <= v.position.w &&
          posY >= v.position.y &&
          posY <= v.position.h
      )
    },
    mouseX: {
      get() {
        return this.intMouseX
      },
      set(val) {
        const threshold = 0
        const leftMargin = threshold + this.appSize.w / 20
        const rightMargin = this.appSize.w - this.appSize.w / 20
        const velX = Math.pow(this.appSize.w, 2) * 0.0000025
        if (val < rightMargin && val > leftMargin) this.intMouseX = val
        else if (
          this.$store.state.isVertical &&
          val < leftMargin &&
          this.bgPositionX > 0
        ) {
          this.bgPositionX -= velX
        } else if (
          this.$store.state.isVertical &&
          val > rightMargin &&
          this.bgPositionX < 100
        ) {
          this.bgPositionX += velX
        }
      }
    },
    mouseY: {
      get() {
        return this.intMouseY
      },
      set(val) {
        const threshold = 0
        const topMargin = threshold + this.appSize.h / 7.5
        const bottomMargin = this.appSize.h - this.appSize.h / 7.5
        const velY = Math.pow(this.appSize.h, 2) * 0.00001
        if (val < bottomMargin && val > topMargin) this.intMouseY = val
        else if (val < bottomMargin && this.bgPositionY > 0) {
          this.bgPositionY -= velY
        } else if (val > topMargin && this.bgPositionY < 100) {
          this.bgPositionY += velY
        }
      }
    },
    position() {
      const { mouseX, mouseY, cursorSize } = this
      return [mouseX - cursorSize / 2, mouseY - cursorSize / 2]
    },
    bgPosition() {
      return {
        backgroundPosition: `${this.bgPositionX}% ${this.bgPositionY}%`
      }
    },
    cursor() {
      const [posX, posY] = this.position
      return {
        transform: `translate(${posX}px, ${posY}px)`
      }
    },
    reveal() {
      const [posX, posY] = this.position
      return {
        transform: `translate(${posX * -1}px, ${posY * -1}px)`
      }
    },
    imageType() {
      return this.isUV ? 'uv' : 'base'
    },
    textFloatStyle() {
      if (this.$store.state.isVertical) {
        return 'left: 50%; top: 5%; transform: translateX(-50%);'
      } else if (this.text.length > 0) {
        const ratioW = this.relativeImage.w / originalImage.w
        const ratioH = this.relativeImage.h / originalImage.h
        const left = this.text[0].textLocation.x * ratioW - this.startX
        const top = this.text[0].textLocation.y * ratioH - this.startY
        const width = this.text[0].textLocation.w * ratioW
        return `left: ${left}px; top: ${top}px; width: ${width}px`
      } else {
        return null
      }
    }
  },
  mounted() {
    window.addEventListener('mousemove', this.cursorEvent)
    window.addEventListener('resize', this.resizeEvent)
    this.resizeEvent()

    this.mouseX = this.appSize.w / 2
    this.mouseY = this.appSize.h / 2

    if (this.$store.state.isVertical || this.appSize.w < 992) {
      this.firstTouch()
    } else {
      this.interval = setInterval(this.timerTick, 25)
    }
  },
  beforeDestroy() {
    document.removeEventListener('contextmenu', this.preventDefault)
    window.removeEventListener('mousemove', this.cursorEvent)
    window.removeEventListener('resize', this.resizeEvent)
    if (this.instance) {
      this.instance.destroy()
    }
    if (this.interval) {
      clearInterval(this.interval)
    }
  },
  methods: {
    cursorEvent(ev) {
      this.mouseX = ev.pageX
      this.mouseY = ev.pageY
      this.mouseP = { x: ev.pageX, y: ev.pageY }
    },
    updateEvent() {
      this.mouseX += this.movX
      this.mouseY += this.movY
      this.reqId = requestAnimationFrame(this.updateEvent)
    },
    resizeEvent() {
      const root = document.querySelector('#about')
      const reveal = document.querySelector('#reveal')
      reveal.style.width = root.offsetWidth + 'px'
      reveal.style.height = root.offsetHeight + 'px'
      this.appSize.w = root.clientWidth
      this.appSize.h = root.clientHeight
      this.cursorSize = document.querySelector('.cursor').clientWidth
    },
    firstTouch() {
      this.instance = nipplejs.create({
        zone: document.getElementById('nipple'),
        mode: 'static',
        position: { left: '50%', top: '50%' }
      })
      this.instance.on('start', () => {
        this.reqId = requestAnimationFrame(this.updateEvent)
      })
      this.instance.on('end', () => {
        cancelAnimationFrame(this.reqId)
      })
      this.instance.on('move', (ev, { force, angle: { radian } }) => {
        this.movX =
          force.clamp(0.5, this.maxForce) * Math.cos(radian) * this.sensitive
        this.movY =
          -force.clamp(0.5, this.maxForce) * Math.sin(radian) * this.sensitive
      })
      document.addEventListener('contextmenu', this.preventDefault)
      window.removeEventListener('touchstart', this.firstTouch)
      window.removeEventListener('mousemove', this.cursorEvent)
    },
    timerTick() {
      const threshold = 0
      const topMargin = threshold + this.appSize.h / 7.5
      const bottomMargin = this.appSize.h - this.appSize.h / 7.5
      const leftMargin = threshold + this.appSize.w / 20
      const rightMargin = this.appSize.w - this.appSize.w / 20

      if (this.mouseP.x < leftMargin && this.bgPositionX > 0) {
        this.bgPositionX -= this.appSize.w / 200
      } else if (this.mouseP.x > rightMargin && this.bgPositionX < 100) {
        this.bgPositionX += this.appSize.w / 200
      }

      if (this.mouseP.y < topMargin && this.bgPositionY > 0) {
        this.bgPositionY -= this.appSize.h / 200
      } else if (this.mouseP.y > bottomMargin && this.bgPositionY < 100) {
        this.bgPositionY += this.appSize.h / 200
      }
    },
    toggleUV() {
      this.isUV = !this.isUV
    },
    emit(e) {
      if (e.event && e.payload) {
        this.$emit(e.event, e.payload)
      }
    },
    preventDefault(e) {
      e.preventDefault()
    }
  }
}
</script>

<style lang="scss">
#about {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .process & {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../assets/images/about/process_base.jpg');
  }

  .results & {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../assets/images/about/results_base.jpg');
  }
}

#reveal {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.process {
  #reveal.base {
    background-image: url('../assets/images/about/process_base.jpg');
  }
  #reveal.uv {
    background-image: url('../assets/images/about/process_uv.png');
  }
}

.results {
  #reveal.base {
    background-image: url('../assets/images/about/results_base.jpg');
  }
  #reveal.uv {
    background-image: url('../assets/images/about/results_uv.png');
  }
}

.cursor {
  width: 35vh;
  height: 35vh;
  overflow: hidden;
  border-radius: 100%;
  mask: radial-gradient(rgba(0, 0, 0, 1) 25%, transparent 70%);
  transition: background-color 500ms linear;

  &.uv {
    background-color: rgba(156, 113, 255, 0.3);
  }
}

.links > a {
  position: absolute;
  display: block;
  cursor: pointer;
}

.text-float {
  position: absolute;
  z-index: 5;

  @media screen and (max-width: 991px) {
    text-align: center;
    width: 100%;
    max-width: 229px;
    height: 94px;
  }

  a {
    cursor: pointer;
  }

  span {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url('../assets/images/new-tab.png');
      background-position: center;
      background-size: contain;
      right: -30px;
      top: 0;
      width: 20px;
      height: 20px;
    }

    img {
      cursor: pointer;
    }
  }
}

#nipple {
  position: fixed;
  bottom: 0;
  width: 200px;
  height: 200px;

  @media screen and (orientation: landscape) {
    right: 0;
  }
  @media screen and (orientation: portrait) {
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
