<template>
  <div class="contact-component">
    <div v-if="!$store.state.isVertical" class="full-video">
      <video autoplay muted playsinline loop>
        <source
          v-if="this.$store.state.priority === 'process'"
          src="@/assets/videos/dove_process.mp4"
          type="video/mp4"
        />
        <source
          v-else
          src="@/assets/videos/dove_results.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div id="contact_container" class="mx-auto">
      <transition name="fade" mode="out-in">
        <div v-if="delivered" key="1">
          Thanks {{ name }} we'll send you back a messenger pigeon soon
        </div>
        <div v-else-if="isBlocked" key="2">
          You can't send more than 1 email every 15 minutes. Thanks for your
          patience.
        </div>
        <div v-else key="3">
          <form novalidate="true">
            <div v-if="errors.length">
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="(error, index) in errors" :key="index">
                  {{ error }}
                </li>
              </ul>
            </div>
            <div>
              <label for="name">ADRESS ME AS</label>
            </div>
            <div class="form-answer">
              <input
                id="name"
                v-model="name"
                type="text"
                placeholder="OWN NAME"
                autocomplete="off"
                maxlength="50"
              />
            </div>
            <div>
              <label for="email">ANSWER AT</label>
            </div>
            <div class="form-answer">
              <input
                id="email"
                v-model="email"
                type="email"
                placeholder="EMAIL"
                autocomplete="off"
                maxlength="50"
              />
            </div>
            <div>
              <label for="subject">HERE'S WHAT WE NEED</label>
            </div>
            <div class="form-answer">
              <input
                id="subject"
                v-model="subject"
                type="text"
                placeholder="PROJECT DETAILS"
                autocomplete="off"
                maxlength="5000"
              />
            </div>
            <div>
              <label for="budget">OUR BUDGET IS</label>
            </div>
            <div class="form-answer">
              <input
                id="budget"
                v-model="budget"
                type="text"
                placeholder="0.0$"
                autocomplete="off"
                maxlength="25"
              />
            </div>
            <div>
              <label for="duedate">AND OUR TIMEFRAME IS</label>
            </div>
            <div class="form-answer">
              <input
                id="duedate"
                v-model="dueDate"
                type="text"
                placeholder="e.g. 3 MONTHS / UNTIL APRIL 4"
                autocomplete="off"
                maxlength="25"
              />
            </div>
            <div id="dove_container">
              <div id="dove_area">
                <div id="dove">
                  <span class="arrow" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import * as Hammer from 'hammerjs'
import Cookie from 'js-cookie'
import axios from 'axios'
import { MESSAGE_DELIVERED } from '@/store/mutation_types.js'
import { wait } from '@/assets/js/util.js'

const LOCK = 'bt'

export default {
  data() {
    return {
      errors: [],
      name: '',
      email: '',
      subject: '',
      budget: '',
      dueDate: '',
      isBlocked: false,
      delivered: false,
      dove: undefined,
      doveHammer: undefined
    }
  },
  computed: {
    isVertical() {
      return this.$store.state.isVertical
    }
  },
  watch: {
    isVertical(newValue) {
      this.setupListeners(newValue)
    }
  },
  mounted() {
    if (Cookie.get(LOCK)) {
      if (this.$store.state.delivered) {
        this.delivered = true
      } else {
        this.isBlocked = true
      }
    } else if (this.$store.state.delivered) {
      this.delivered = false
    }

    this.dove = document.querySelector('#dove')
    this.doveHammer = new Hammer(document.querySelector('#dove_area'))
    this.doveHammer.get('swipe').set({ direction: Hammer.DIRECTION_ALL })
    this.setupListeners(this.$store.state.isVertical)
  },
  methods: {
    checkForm() {
      this.errors = []
      if (!this.name) {
        this.errors.push('Name required.')
      }
      if (!this.email) {
        this.errors.push('Email required.')
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Valid email required.')
      }
      if (!this.subject) {
        this.errors.push('Project details required.')
      }
      if (!this.errors.length) {
        this.fly()
      }
    },
    validEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    fly() {
      this.dove.classList.add('sent')
      this.sendMail()
      this.$store.commit(MESSAGE_DELIVERED, true)
      Cookie.set(LOCK, '1', { expires: 1 / 96 })
      wait(1500).then(() => {
        this.delivered = this.isBlocked = true
      })
    },
    setupListeners(value) {
      if (value) {
        this.doveHammer.on('swipeup', () => this.checkForm())
        this.doveHammer.off('swiperight', () => this.checkForm())
      } else {
        this.doveHammer.off('swipeup', () => this.checkForm())
        this.doveHammer.on('swiperight', () => this.checkForm())
        document
          .querySelector('#dove')
          .addEventListener('click', () => this.checkForm())
      }
    },
    sendMail() {
      axios
        .post('/api/contact', {
          name: this.name + ' ',
          email: this.email + ' ',
          subject: this.subject + ' ',
          budget: this.budget + ' ',
          dueDate: this.dueDate + ' '
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss">
$results_label_color: #ffb30b;
$results_color: #7f6643;
$process_label_color: #fefefe;
$process_color: #757575;
$black_color: #232323;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.contact-component {
  width: 100%;
  overflow: auto;

  @media only screen and (min-width: 992px) {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}

#contact_container {
  font-family: 'Gobold';
  min-width: 150px;
  max-width: 300px;
  width: 80%;
  margin-top: 100px;

  @media only screen and (min-width: 992px) {
    position: absolute;
    width: 20%;
    left: 75%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    margin-top: 0;
  }

  ul {
    padding: 0;
  }

  label {
    margin-bottom: 0;

    @media only screen and (min-width: 992px) {
      margin-bottom: 0.25rem;
      color: #0f0f0f !important;
    }
  }

  div.form-answer {
    background-color: #50505020;
    border-radius: 2px;

    @media only screen and (min-width: 992px) {
      margin-bottom: 0.5rem;
    }
  }

  div,
  input,
  input::placeholder {
    @media only screen and (min-width: 992px) {
      color: #282828 !important;
    }
  }

  .process & {
    label,
    p {
      color: black;

      @media only screen and (min-width: 992px) {
        color: $process_label_color;
      }
    }
    div,
    input,
    input::placeholder {
      color: $process_color;
    }
  }

  .results & {
    label,
    p {
      color: $results_label_color;
    }
    div,
    input,
    input::placeholder {
      color: $results_color;
    }
  }

  input[type='text'],
  input[type='email'] {
    background: transparent !important;
    border: none;
    width: 100%;
  }

  input:focus {
    outline: transparent !important;
    box-shadow: none !important;
  }
  input:focus::placeholder {
    color: transparent;
  }

  #dove_container {
    @media only screen and (min-width: 992px) {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(100%);
    }
  }

  #dove_area {
    position: relative;
    height: 150px;

    @media only screen and (min-width: 992px) {
      height: 75px;
    }
  }

  #dove {
    cursor: pointer;
    position: absolute;
    width: 75px;
    height: 47.5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 1.5s ease-in;

    @media only screen and (max-width: 991px) {
      transform: translateX(-50%);
      bottom: 0;
      left: 50%;

      .process & {
        background-image: url('../assets/images/contact/dove_black.png');
      }
      .results & {
        background-image: url('../assets/images/contact/dove_yellow.png');
      }
    }
    @media only screen and (min-width: 992px) {
      transform: translate(-18.5%, 29%) rotate(90deg);
      left: 0;
      background-position: left center;
      background-image: url('../assets/images/contact/dove_black.png');
    }

    .arrow {
      position: absolute;
      left: 50%;
      width: 25px;
      height: 31px;
      transform: translate(-50%, -150%);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: all 0.25s linear;
      background: linear-gradient(
        to top,
        transparent,
        #232323,
        transparent 15px
      );
      background-size: 100% 200%;
      mask-size: 100%;
      mask-image: url('../assets/images/contact/slide_arrow_black.png');
      animation: slide-arrow 1.5s linear infinite;

      @media only screen and (max-width: 991px) {
        .results & {
          background: linear-gradient(
            to top,
            transparent,
            $results_label_color,
            transparent 17.5px
          );
        }
      }

      &::after {
        content: ' ';
        width: 100%;
        height: 10%;
      }
    }

    &.sent {
      @media only screen and (max-width: 991px) {
        bottom: 100vh;
      }
      @media only screen and (min-width: 992px) {
        left: 100vw;
      }
    }
  }
}

@keyframes slide-arrow {
  0% {
    background-position-y: 60px;
  }
  100% {
    background-position-y: 0px;
  }
}
</style>
