<template>
  <div>
    <div v-if="!$store.state.isVertical" class="full-video">
      <video v-show="!playLoop" id="intro" autoplay muted @ended="activateLoop">
        <source :src="videoIntro" type="video/mp4" />
      </video>
      <video v-show="playLoop" id="loop" preload="auto" muted loop>
        <source :src="videoLoop" type="video/mp4" />
      </video>
      <div
        v-show="$store.state.priority === 'results'"
        class="patch"
        style="background-image: linear-gradient(to bottom, #070507, #070507, transparent 12.5%)"
      ></div>
      <div
        v-show="$store.state.priority === 'results'"
        class="patch right"
        style="background-image: linear-gradient(to bottom, #070507, #070507, transparent 12.5%)"
      ></div>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-named-default */
import { default as Preload } from '@/assets/js/preload.js'
import { default as Sources } from '@/assets/js/sources.js'
export default {
  data() {
    return {
      playLoop: false,
      videoIntro: undefined,
      videoIntroWebM: undefined,
      videoLoop: undefined,
      videoLoopWebM: undefined
    }
  },
  computed: {
    isPortrait() {
      return this.$store.state.isVertical
    }
  },
  watch: {
    isPortrait: function(value) {
      this.setVideoSrc()
    }
  },
  mounted() {
    this.setVideoSrc()
    this.preloadGlitch()
    Preload(Sources.aboutText)
  },
  methods: {
    setVideoSrc: function() {
      if (!this.isPortrait) {
        if (this.$store.state.priority === 'process') {
          this.videoIntro = require('@/assets/videos/process_intro.mp4')
          this.videoLoop = require('@/assets/videos/process_loop.mp4')
        } else {
          this.videoIntro = require('@/assets/videos/results_intro.mp4')
          this.videoLoop = require('@/assets/videos/results_loop.mp4')
        }
      }
    },
    preloadGlitch: function() {
      if (!this.isPortrait) {
        if (this.$store.state.priority === 'process') {
          Preload(Sources.process)
        } else {
          Preload(Sources.results)
        }
      }
    },
    activateLoop: function() {
      this.playLoop = true
      const el = document.querySelector('#loop')
      if (el !== undefined) el.play()
      else setTimeout(() => this.activateLoop(), 100)
    }
  }
}
</script>
