<template>
  <div id="index">
    <div v-show="!$store.state.isVertical" class="landscape">
      <img :src="primaryImage" class="primary" />
      <img :src="accentImage" class="accent" />
      <div class="linkin" />
    </div>
    <div v-show="$store.state.isVertical" class="portrait">
      <div id="process" style="clip: rect(0, auto, auto, 0);">
        <img class="text" src="@/assets/images/entry/process.png" />
        <img class="logo" src="@/assets/images/entry/draft.png" />
        <img
          class="arrow"
          src="@/assets/images/entry/arrow_black.png"
          style="bottom: 42.5%; transform: translateX(-50%) rotate(180deg) scaleY(0.5)"
        />
        <div
          id="process-area"
          style="position: absolute; width: 100%; height: 100%"
          class="tactil"
        />
      </div>
      <div id="results" style="clip: rect(0, auto, auto, 0);">
        <img class="text" src="@/assets/images/entry/results.png" />
        <img class="logo" src="@/assets/images/entry/logo.png" />
        <img
          class="arrow"
          src="@/assets/images/entry/arrow_yellow.png"
          style="bottom: 25.5vh; transform: translateX(-50%) scaleY(0.5)"
        />
        <div
          id="results-area"
          style="position: absolute; width: 100%; height: 100%"
          class="tactil"
        />
      </div>
    </div>
  </div>
</template>

<script>
import * as Hammer from 'hammerjs'
import * as MutationType from '@/store/mutation_types'
import process from '@/assets/images/entry/landscape_process.png'
import results from '@/assets/images/entry/landscape_results.png'
import logo from '@/assets/images/entry/xl_logo.png'
import draft from '@/assets/images/entry/xl_draft.png'
import Preload from '@/assets/js/preload.js'
import Sources from '@/assets/js/sources.js'

export default {
  data() {
    return {
      keepTracking: true,
      primaryImage: process,
      accentImage: draft
    }
  },
  destroyed() {
    window.removeEventListener('mousemove', this.track)
  },
  mounted() {
    this.setLightTheme()
    window.addEventListener('mousemove', this.track)
    document.querySelector('.linkin').addEventListener('click', (event) => {
      this.keepTracking = false
      this.goToHome()
    })

    const processArea = document.querySelector('#process-area')
    const processHammer = new Hammer(processArea)
    processHammer.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL })
    processHammer.on('swipedown', (e) => {
      document.querySelector('#process').classList.add('active')
      this.setLightTheme()
      setTimeout(() => this.goToHome(), 1200)
    })

    const resultsArea = document.querySelector('#results-area')
    const resultsHammer = new Hammer(resultsArea)
    resultsHammer.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL })
    resultsHammer.on('swipeup', (e) => {
      document.querySelector('#results').classList.add('active')
      this.setDarkTheme()
      setTimeout(() => this.goToHome(), 1200)
    })
  },
  methods: {
    track(e) {
      if (this.keepTracking) {
        const yPercent = (e.clientY / window.innerHeight) * 100
        this.setStyle(yPercent)
      }
    },
    setStyle(heightPerc) {
      const isDark = this.$store.state.isDark
      if (heightPerc > 50 && !isDark) {
        this.primaryImage = results
        this.accentImage = logo
        this.setDarkTheme()
      } else if (heightPerc < 50 && isDark) {
        this.primaryImage = process
        this.accentImage = draft
        this.setLightTheme()
      }
    },
    setLightTheme() {
      this.$store.commit(MutationType.SET_LIGHT_THEME)
      this.$store.commit(MutationType.SET_PRIORITY, 'process')
    },
    setDarkTheme() {
      this.$store.commit(MutationType.SET_DARK_THEME)
      this.$store.commit(MutationType.SET_PRIORITY, 'results')
    },
    goToHome() {
      if (this.$store.state.priority === 'process') {
        Preload(Sources.process)
      } else if (this.$store.state.priority === 'results') {
        Preload(Sources.results)
      }
      this.$router.push('/Home')
    }
  }
}
</script>

<style lang="scss">
#index {
  .landscape,
  .portrait {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    text-align: center;
    position: relative;
  }

  .landscape > img {
    max-height: 75%;
    width: auto;
  }

  .linkin {
    width: 47vh;
    height: 47vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: absolute;
  }

  img.primary {
    height: 99.5vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  img.accent {
    height: 99.5vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .portrait img {
    position: absolute;
  }

  #process,
  #results {
    position: absolute;
    overflow: hidden;
    transition: 0.6s;
    width: 100%;
    height: 50%;
  }

  #process {
    background-color: #f5f5f5;
  }

  #results {
    background-color: #0f0f0f;
    bottom: 0;
  }

  #process.active,
  #results.active {
    z-index: 1;
    height: 100%;
  }

  #logo,
  #draft {
    transition: 0.3s;
  }

  .text {
    left: 50%;
    max-height: 17.5vh;
    max-width: 80%;
    width: auto;
    transform: translateX(-50%);
    transition: 0.9s ease-out;
  }

  #process .text {
    bottom: 50%;
  }

  #process.active .text {
    bottom: 32.5%;
    transform: translate(-50%, -50%);
  }

  #results .text {
    bottom: 7.75vh;
  }

  #results.active .text {
    top: 32.5%;
    transform: translate(-50%, 50%);
  }

  img.logo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 35vh;
    width: auto;
    visibility: visible;
    opacity: 1;
  }

  .active img.logo {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-out;
    transition-delay: 1.2s;
  }

  .arrow {
    left: 50%;
    max-height: 3.75vh;
    width: auto;
    visibility: visible;
    opacity: 1;
  }

  .active .arrow {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.15s, opacity 0.15s linear;
  }
}
</style>
