<template>
  <div class="project-container">
    <div :class="[firstActive]">
      <eight-tree id="eight-tree" />
    </div>
    <div :class="[secondActive]">
      <DRCO id="drco" />
    </div>
    <div :class="[thirdActive]">
      <NIIV id="niiv" />
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-named-default */
import { default as PreloadProject } from '@/assets/js/preload.js'
import { default as Sources } from '@/assets/js/sources.js'
import EightTree from '@/components/EightTree'
import DRCO from '@/components/DRCO'
import NIIV from '@/components/NIIV'

export default {
  name: 'Work',
  components: { EightTree, DRCO, NIIV },
  watchQuery: ['project'],
  data() {
    return {
      firstActive: '',
      secondActive: '',
      thirdActive: '',
      isLoading: false
    }
  },
  asyncData({ query }) {
    if (query.project === 'eight-tree') {
      return {
        firstActive: 'active',
        secondActive: 'inactive',
        thirdActive: 'inactive'
      }
    } else if (query.project === 'drco') {
      return {
        firstActive: 'inactive',
        secondActive: 'active',
        thirdActive: 'inactive'
      }
    } else if (query.project === 'niiv') {
      return {
        firstActive: 'inactive',
        secondActive: 'inactive',
        thirdActive: 'active'
      }
    } else return { firstActive: '', secondActive: '', thirdActive: '' }
  },
  mounted() {
    const firstProject = document.querySelector(
      '.project-container > div:nth-child(1)'
    )
    firstProject.onclick = () => {
      if (this.isLoading || this.firstActive === 'active') return
      this.removeActiveClass()
      const spinner = document.createElement('span')
      firstProject.appendChild(spinner)
      firstProject.classList.add('loading')
      PreloadProject(Sources.eightTree, () => {
        firstProject.classList.remove('loading')
        firstProject.removeChild(spinner)
        this.$router.push({
          path: this.$route.path,
          query: { project: 'eight-tree' }
        })
      })
    }

    const secondProject = document.querySelector(
      '.project-container > div:nth-child(2)'
    )
    secondProject.onclick = () => {
      if (this.isLoading || this.secondActive === 'active') return
      this.removeActiveClass()
      const spinner = document.createElement('span')
      secondProject.appendChild(spinner)
      secondProject.classList.add('loading')
      PreloadProject(Sources.drco, () => {
        secondProject.classList.remove('loading')
        secondProject.removeChild(spinner)
        this.$router.push({
          path: this.$route.path,
          query: { project: 'drco' }
        })
      })
    }

    const thirdProject = document.querySelector(
      '.project-container > div:nth-child(3)'
    )
    thirdProject.onclick = () => {
      if (this.isLoading || this.thirdActive === 'active') return
      this.removeActiveClass()
      const spinner = document.createElement('span')
      thirdProject.appendChild(spinner)
      thirdProject.classList.add('loading')
      PreloadProject(Sources.niiv, () => {
        thirdProject.classList.remove('loading')
        thirdProject.removeChild(spinner)
        this.$router.push({
          path: this.$route.path,
          query: { project: 'niiv' }
        })
      })
    }
  },
  methods: {
    removeActiveClass() {
      this.firstActive = this.secondActive = this.thirdActive = ''
    }
  }
}
</script>

<style lang="scss">
.project-container {
  width: 100%;
  height: 100%;
  display: flex;

  @media only screen and (max-width: 991px) {
    flex-direction: column;
  }

  & > div {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% / 3);
    height: 100%;
    transition: width 1s ease-out, height 1s ease-out;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      left: 0;
      width: 100%;
      height: calc(100% / 3);
    }

    & > div {
      position: absolute;
      width: 100%;
    }

    &.active {
      left: 0;
      width: 100%;
      overflow-y: auto;
      z-index: 1;

      @media only screen and (max-width: 991px) {
        top: 0;
        height: 100%;
      }

      & > div {
        transform: translateX(0);
        left: 0;
      }

      @media only screen and (min-width: 992px) {
        & > div {
          transform: translateX(0);
        }
      }
    }

    &.inactive {
      @media only screen and (max-width: 991px) {
        height: 0;
      }
      @media only screen and (min-width: 992px) {
        width: 0;
      }
    }
  }

  .loading {
    & > span {
      display: inline-block;
      position: absolute;
      width: 32px;
      height: 32px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &::after {
        content: ' ';
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
    }

    & > div {
      filter: blur(3px);
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.orderable {
  display: flex;
  flex-wrap: wrap;
}
.orderable > div {
  max-width: 100%;
  width: 100%;
}
</style>
